[2019-04-15 15:27] rwjblue commented on #292
@trek The [tracked properties RFC has specific text](https://emberjs.github.io/rfcs/0410-tracked-properties.html#observers) RE: interop with observers:

[2019-04-22 20:25] jrjohnson commented on #214
This is a great list, but I'd like to put a vote up for declaring 1.0 right now and addressing these as time permits possibly for 2.0 if they are breaking. Or 3.0, or 4.0 😜

Tons of apps and addons are using this in production now which points to it's stability and the reasonableness of a 1.0 designation, but it also makes it a primary source of conflicts for us when using `ember-cli-dependency-li

[2019-04-25 00:12] danwenzel commented on #285
@machty - Any ideas on this?  We keep encountering it as well.  We're having to add a resolution to our `package.json`:

[code]

[2019-04-26 08:20] ondrejsevcik opened #294 "Check if passed object is task earlier"
Hi, it happened to me a few times that I had a typo in the task name that I've passed in into `perform` helper and then I got an error when I clicked the button.

[code]

But it would be nicer to get the error immediately when the template is instantiated, the same way the `action` helper does. It would be also helpful for refactoring.

What do you think about that?

[2019-05-01 17:24] allthesignals commented on #285
Seeing this too... looks like there was a minor version bump somewhere? I didn't change any dependencies, but yarn.lock shows some upgrades. Anyone know what's happening?

[2019-05-03 06:46] buschtoens commented on #283
@wagenet just to keep you in the loop: yes, it's a Babel bug in the stage 1 transforms. But there's already a PR to fix it waiting to be merged. More details: https://github.com/machty/ember-concurrency-decorators/issues/48

[2019-05-03 23:50] jasonmevans commented on #285
We are encountering this as well +1

[2019-05-15 14:47] donaldwasserman commented on #285
For what it's worth, this error is happening with `0.10.0` (In my case with `ec-decorators` `0.6.0`.

[2019-05-20 14:40] amk221 opened #295 "Consider console error if an exception happens"
I'm new to ember concurrency, and I found it odd that if I don't manually try/catch an error it will be 'lost', or, I won't know about it when a task is run.

Perhaps there could be a console warning to notify in development mode that something has gone awry.

[2019-05-21 18:28] nickdoccheer opened #296 "task abruptly ends when saving a model after changing attribute named 'state'"
Saving a attribute named "state" in a model causes the task to not finish:
[code]
The save works fine, but "here2" never gets printed.

[code]
In this case, the save works fine and the server returns the "state" attribute and  "here2" gets printed.

[2019-05-21 20:09] machty commented on #296
I'm not sure but I think `state` might be a reserved property on Ember Data models that you're not allowed to modify. I'm guessing it's throwing an exception when it gets to that line.

[2019-05-21 20:23] nickdoccheer commented on #296
In ember data, they use `state` in their tests so I don't think it is reserved. https://github.com/emberjs/data/blob/178d37aa0ab6edd4e37a9a4f84165f7837ddb3e2/packages/-ember-data/tests/integration/snapshot-test.js#L40

I did put it in a try catch initially (like below) and it would still only print "here1".
[code]

This may just be an edge case but I wanted to notate this in case anyone else runs

[2019-05-21 23:27] nickdoccheer commented on #296
This was a red herring, it was not the name of the attribute.  Turns out that if some computed property is watching the attribute that is being changed, the task ends abruptly.  Still not sure why but closing this issue.

[2019-05-21 23:27] #296 closed

[2019-06-01 02:55] edeis53 commented on #175
@machty when tasks belong to a group, `performCount` for the individual task returns the performCount for the entire group instead of the task itself. Whereas properties suchas `.concurrency` will give you the independant results from the task vs group.

Give this a try
[code]

Then after a few iterations.... even though we performed the dishes task once, we get the following output.
[code]

I wou

[2019-06-02 01:57] BryanCrotaz opened #298 "Please consider a 1.0 release"
It's a real pain going through all our projects upgrading version zero addons. The public api of ember-concurrency has been stable for a while now, so it would be good to have a 1.0 release.

[2019-06-02 18:32] machty commented on #298
I'm into it.

[2019-06-02 19:39] machty commented on #298
Released 1.0.0

[2019-06-02 19:39] #298 closed

[2019-06-03 19:12] robclancy opened #301 "When using the proper decorator syntax with the babel fix it errors wanting the task to be a getting"
When using this syntax

[code]
With the fix from here (https://github.com/babel/babel/pull/9912) I get an error about it wanting to be a getter (I assume you extend the `@computed` property and don't remove this check).

[2019-06-03 19:48] buschtoens commented on #301
The syntax above would only be unlocked with ember-concurrency-decorators. Standalone ember-concurrency can only be invoked as

[code]

[2019-06-03 20:00] robclancy commented on #301
@buschtoens we have been over this many times. I am not going to use that terrible syntax. And when babel is fixed people are going to want to use the new syntax which this needs to support like everyone expects it does but noone has actually tried with the babel fix.

And `ember-concurrency-decorators` doesn't work with 3.10.

[2019-06-03 20:29] buschtoens commented on #301
And I have merely given you an explanation. What you have shown up there is not currently intended to work with standalone ember-concurrency and probably will not be until we were able to mature it in ember-concurrency-decorators.

The exact syntax _you_ have shown _will_ work with _ember-concurrency-decorators_, once the Babel fix _officially_ lands and I get to integrate it with e-c-d, in case i

[2019-06-03 20:33] robclancy commented on #301
You have given a workaround, which everyone already uses. The current stuff would work with this package if the `getter` restriction is fixed according to this bug. And everyone already expects this babel fix will make it work like that, but it doesn't.

Now you are ignoring more things. Read the bug report again. Read the last line of my comment again.

This is a bug report, not a "give me altern

[2019-06-03 20:40] robclancy commented on #301
I also love the passive aggressive _you_ as if I'm the only one trying to use the normal syntax that they are fixing in babel and that you have posted the original bug report to get that syntax. So no not I only want it, you apparently do too.

[2019-06-03 20:47] buschtoens commented on #301
No, it would not. `task` doesn't even accept an options object. This is an ember-concurrency-decorators feature. This "getter restriction" is a result of ember-concurrency using `computed`, i.e. that assertion is coming from Ember core.

Via ember-concurrency-decorators.

OSS is a give and take. I did not mean that you test it in your app, but that you test your patched Babel version with e-c-d di

[2019-06-03 20:52] robclancy commented on #301
I know it is coming from the ember core, that is the point of why I say it extends it in the issue.

Why would this package not just support `@task` like what everyone expects? Part of upgrading to `3.10` is removing `ember-concurrency-decorators` like you remove other packages because it is expected to do things like everywhere else.

[code]
3.10 does not work with `e-c-d`. How does it matter if

[2019-06-03 20:52] #301 closed

[2019-06-04 16:43] buschtoens commented on #301
FWIW `ember-concurrency-decorators` _does_ work with Ember 3.10. I have added tests to assert this in https://github.com/machty/ember-concurrency-decorators/pull/52 and updated the docs to reflect this in https://github.com/machty/ember-concurrency-decorators/pull/53.

I also went ahead and tested the patched version of Babel with `e-c-d` and found that a minor change was required to make it work:

[2019-06-07 16:34] cah-danmonroe commented on #285
I was having the same issue.  Resolved by upgrading e-concurrency and e-power-select to latest versions; 1.0.0 for EC and 2.3.3 for EPS

[2019-06-18 00:12] machty commented on #263
I am interested in implementing this.

[2019-06-19 12:20] mydea commented on #285
In an addon, it ended up being what was described here:
https://github.com/pzuraq/ember-compatibility-helpers/issues/32

TLDR, the addon had this in the index.js included hook:

[code]

Which should actually be:

[code]

Pretty counter intuitive that this would lead to this error... But changing this made the addon run for me again (with 1.0.0).

[2019-06-20 20:48] lypborges commented on #279
@balinterdi I just run
[code]
and fix the problem.

[2019-07-01 11:27] edeis53 commented on #280
Can we reopen? I'm upgrading our app to Ember 3.10.1 and Ember concurrency 1.0.0, and we're getting the `Uncaught TypeError: Found non-callable @@iterator`

We are declaring our tasks using the following syntax:
[code]

Do we need to switch over to new ember syntax and decorators?

[code]

[2019-07-01 13:46] edeis53 commented on #280
Oops. Ignore that one, I was premature. We were also using ember-concurrency-scroll addon, which uses 0.8 and was clobbering the 1.0 dependancy in our app.

[2019-07-06 23:04] danwenzel commented on #285
For us, this turned out to be an issue with ember-power-select.  See https://github.com/cibernox/ember-power-select/issues/1232

[2019-07-08 12:47] artemgurzhii opened #306 "Feature Request: Add `waitForEachProperty` on array"
_Consider `dropbox` or `google drive` as a use case example._

In our app, we allow uploading files and it may take some time, and after all of the files are uploaded we want to show modal window which asks the user if he/she wants to share those files.

[code]

The same functionality could be easily accomplished just by using regular `for` loop
[code]
but for me it would much better to use someth

[2019-07-15 14:24] knownasilya opened #307 "`perform` helper doesn't work with `pipe` helper"
The pipe helper (https://github.com/DockYard/ember-composable-helpers#pipe) works on actions that return promises, unfortunately the `perform` helper returns the result of `bind` from the runloop and this causes subtle bugs. If the perform helper could return the TaskInstance instead, it would work well with the `pipe` helper.

[2019-07-15 15:17] machty commented on #307
What if you just passed the task directly to pipe? (Alternatively you can use the `(task myTask 1 2 3)` helper to curry args into the task, similar to the `(action)` helper.) I don't know how `pipe` works internally but if it uses the `INVOKE` symbol to find invocable actions, it might Just Work™

[2019-07-15 15:25] knownasilya commented on #307
As far as I can tell it doesn't use `INVOKE`. I'll try passing the task.

[2019-07-15 15:30] machty commented on #307
Is there something e-c could be doing different here? If not, this might be more of a `pipe` issue

[2019-07-15 15:46] knownasilya commented on #307
It would just work if `bind` was removed (https://github.com/machty/ember-concurrency/blob/master/addon/-helpers.js#L9). Not sure that it's needed any more.

[2019-07-15 22:01] oliverlangan opened #308 "`waitForEvent` handlers inside of `race` are not always cleaned up"
We have discovered an issue where event handlers added by `waitForEvent` are not cleaned up, if they occur within `race`:

[code]

When `yield`ing directly to `waitForEvent`, the handlers are removed when expected (e.g. when the component is destroyed).

As a workaround, it is possible to wrap individual events in their own tasks, and `race` on those. In that case, the event handlers are cleaned u

[2019-07-24 16:15] gabrielgrant commented on #271
@buschtoens i think you're maybe missing a closing paren?

[code]

[2019-07-25 08:00] buschtoens commented on #271
@gabrielgrant That is correct, thanks! I updated the snippet. :)

[2019-07-26 16:49] azhiv opened #311 ".numRunning seems to not being decremented in case the generator throws an error"
[code]

Is this expected or am I missing something?

[2019-07-28 14:26] LuisAverhoff commented on #246
@mupkoo I have the same task in regards to polling a model but using findRecord instead of findall with a dynamic id. In my case, I will have to call perform to pass in the id but in doing so I would lose the ability to continue to poll for more data because I would be returning a TaskInstance instead of a Task. How would I go about doing it with a dynamic id?

[2019-08-02 21:30] BryanCrotaz commented on #271
What’s the correct syntax for using typescript with ember 3.11?

[2019-08-05 08:49] buschtoens commented on #271
@BryanCrotaz The issue is that decorators cannot (yet) influence the type signature. To circumvent this, I made [`ember-concurrency-typescript`](https://github.com/buschtoens/ember-concurrency-typescript#readme), but it's not fully done yet: https://github.com/buschtoens/ember-concurrency-typescript/issues/6

[2019-08-05 16:04] maxfierke commented on #295
Hi @amk221! Generally if you do not handle an error in an ember concurrency task, it should bubble to `RSVP.onerror` or `Ember.onerror` and be visible on the browser console.

Can you provide some details on what Ember version and ember-concurrency version you are using? Are you using any error reporting add-ons that might be overriding these handlers?

[2019-08-05 16:08] amk221 commented on #295
👋🏻 I am responding to both those things (for sentry), so I’ll check if
there is a miss configuration and get back to you, with a demo repo if
necessary. Thanks!

On Mon, 5 Aug 2019 at 17:04, Max Fierke <notifications@github.com> wrote:

[2019-08-07 12:07] basz commented on #280
Hi, I'm seeing the same error. For ember 3.11.0 and e-c 1.0.0. Shouldn't 1.0.0 resolve this issue?

If switching format helps I can do that, but to what format would I need to switch? An example would be appreciated...

[2019-08-07 14:24] maxfierke commented on #280
@basz You should ensure you don't have a dependency that is resolving to a lower version of ember-concurrency (e.g. ember-power-select, etc.). If there's not a more recent version of the addon that permits ember-concurrency 1.0.0, you can use Yarn resolutions to force it to resolve to ember-concurrency 1.0.0 (if you're using Yarn).

[2019-08-07 14:58] basz commented on #280
@maxfierke aahhh... now my apps works again! (or, well, I can continue to kill other upgrade bugs...) but,  very helpful and wasn't aware of this meganism...

[2019-08-08 02:17] #95 closed

[2019-08-08 02:23] maxfierke commented on #33
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

[`ember-async-button`](https://github.com/dockyard/ember-async-button) has been deprecated as-of March 2018, but it is quite easy to replicate the functionality using ember-concurrency (borrowing example from async-button readme). Here'

[2019-08-08 02:23] #33 closed

[2019-08-08 02:23] maxfierke commented on #126
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

For posterity, [`ember-power-select-typeahead`](https://github.com/cibernox/ember-power-select-typeahead) is a commonly used community solution and popular addon that provides this functionality and works well with ember-concurrency tas

[2019-08-08 02:23] #126 closed

[2019-08-08 02:31] maxfierke commented on #149
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

For posterity: At EmberConf 2019, Issac Ezer gave a talk about [composable ember-concurrency tasks](https://medium.com/@isaacezer/ember-composable-concurrency-b460606f81ee) which covers how to implement your own modifiers (and reference

[2019-08-08 02:31] #149 closed

[2019-08-08 02:35] maxfierke commented on #177
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

Given that this issue is 1) almost two years old and 2) the browser at-hand now uses a totally different engine, I'm going to assume it's safe to close this 😉

[2019-08-08 02:35] #177 closed

[2019-08-08 02:39] maxfierke commented on #182
Hi @buschtoens 👋 ! I'm going through the issue queue and hoping to close out any PRs that are stale. I know this is almost 2 years old, but are you still up for a PR on this one?

[2019-08-08 02:45] maxfierke commented on #222
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

It appears this was resolved, so I'm closing it out.

[2019-08-08 02:45] #222 closed

[2019-08-08 02:54] maxfierke commented on #160
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

Since this issue was opened, various community solutions have emerged that allow providing more control over how you can test code that uses ember-concurrency tasks:

* [`ember-concurrency-test-waiter`](https://github.com/bendemboski/em

[2019-08-08 02:54] #160 closed

[2019-08-08 03:12] maxfierke commented on #130
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

For posterity: Support for this was implemented in ember-concurrency 0.8.13 w/ PR #187

[2019-08-08 03:12] #130 closed

[2019-08-08 03:31] maxfierke commented on #232
Hi there! I'm going through and closing out old/stale issues that may no longer be relevant due to changes in the ember-concurrency or the larger Ember ecosystem.

It sounds likely this was caused by a bug with uglify or other minifer used with ember-cli. I'm going to close this out, but feel free to comment to reopen if there's a way to reproduce this.

[2019-08-08 03:31] #232 closed

[2019-08-08 03:50] maxfierke commented on #258
Hi @mwpastore 👋 ! Apologies for the late reply on this. The reason for this is that `isError` exists only on a `TaskInstance` and not a `Task`. A `Task` itself is never in an error state, but individual instances of one might be.

I think the `task.last` "pointing to the un-curried task", is the real root of the issue.

When a task is curried, it is cloned, but the task's scheduler is not cloned,

[2019-08-08 04:00] maxfierke commented on #272
Hi there! I'm going through and looking to close out any old/stale issues that may no longer be relevant due to changes in the ember-concurrency, the larger Ember ecosystem, or self-resolution.

Were you able to find an answer to this @xtagon? Is there anything you could share back that could be useful for folks looking to do the same thing?

[2019-08-08 04:02] maxfierke commented on #281
Hi @knownasilya 👋 ! I'm going through and cleaning up the issue queue. It appears this is a duplicate of #123, so I'm going to close it out. However, it appears that this will be tackled by #302, if/when it gets merged.

[2019-08-08 04:02] #281 closed

[2019-08-08 04:05] xtagon commented on #272
Without a direct answer from someone more educated on the code itself, the best I can find is the fact that a shared function is used in the example docs, as seen here: http://ember-concurrency.com/docs/task-concurrency

[2019-08-08 04:07] xtagon commented on #272
And that's good enough for me if you want to close this, although I would be curious to find out exactly what the runtime differences are between the pattern of sharing generator functions vs sharing task definitions using the `task` helper.

[2019-08-08 04:33] maxfierke commented on #272
@xtagon The answer appears to be: Yes, you can export a `task(...)` and re-use it across components, and they will each maintain their own state. At least, in this limited Twiddle: https://ember-twiddle.com/576423fc578d8023b943ccf1c28bc9df I didn't test it extensively, so perhaps there's some hidden gotchas. However, because `task(...)` returns a `TaskProperty`, which is a type of `ComputedPropert

[2019-08-08 04:33] #272 closed

[2019-08-08 04:35] xtagon commented on #272
Thank you! That helps a lot 👍

[2019-08-16 09:04] amk221 commented on #295
Thanks, was a miss use of `allSettled` on my part.

[2019-08-16 09:04] #295 closed

[2019-08-26 13:43] muziejus commented on #283
Just adding to @NullVoxPopuli's comment, if someone were to come here looking for a solution. To append a method like `restartable`, one more extra set of parentheses is needed:

[code]

Not sure where I picked this up, but hopefully it'll help someone else.

[2019-09-09 22:55] esbanarango commented on #283
Just adding to @muziejus comment... if you have a task that you use in multiple places:

<img width="692" alt="Image 2019-09-09 at 5 52 35 PM" src="https://user-images.githubusercontent.com/1156865/64571905-fbe9c700-d32a-11e9-9a91-dbad2138c670.png">

[2019-09-15 02:11] #182 closed

[2019-09-30 00:33] NullVoxPopuli commented on #283
I think we can close this now :)

[2019-09-30 00:33] #283 closed

[2019-09-30 20:42] hrishikeshs commented on #40
Hi, I'm facing the same issue. I have a choice between doing
[code]
 versus
[code]
is there any reason to not use `this.myTask.perform().catch()`  ? the documentation on the website almost exclusively uses try..catch

[2019-10-01 13:45] st-h opened #320 "how to share tasks between two components "detected a potentially hazardous "self-cancel loop""
given a component, which displays a modal dialog (for instance a prompt wether a record should be deleted). When the delete button is pressed, it should display a running indicator until the operation is complete. So, we have something like this:

modal-dialog.hbs:

[code]

modal-dialog.js:

[code]

Then we have another component/controller that includes the dialog and has a task to actually delet

[2019-10-01 16:22] st-h commented on #320
Not sure if this is the best solution, however using an async function with await for the child task seems to solve the issue:

[code]

[2019-10-04 02:46] sukima commented on #40
Using try/catch is more expressive and easier to reason about. It also allows the cancellation/error handling to remain in the task. Using `.catch()` will down cast the TaskInstance to just a Promise and now you have to manage everything manually yourself since you have left safety and comfort of ember-concurrency

[2019-10-08 20:24] alexlafroscia opened #322 "feat: add helper to wrap a function in a task"
Would you be interested in a helper that, accepting a function, returns an action that wraps that function? This is a pattern that's come up in the application I maintain at work, where a component yields an async function.

I'm imagining something like this:

[code]

If that's of interest, I'm happy to PR an implementation!

[2019-10-10 18:43] erichonkanen opened #323 "Uncaught Error: Assertion Failed: A computed property key must be a string, you passed undefined undefined"
I'm receiving this error after upgrading and unsure how to resolve it.
[code]
[code]
I've tried different ways of writing the task based on comments in https://github.com/machty/ember-concurrency/issues/283, but I keep getting same error.

code:
[code]

[2019-10-11 02:16] maxfierke commented on #322
I guess the tricky bit with this might be around the ownership of the task. Assuming the helper is the owner/host object, how does that work with auto-cancellation or when the action changes? (I'm not sure exactly what the "lifecycle" of a helper is.)

[2019-10-11 05:42] buschtoens commented on #322
A (class-based) helper lives as long as it is not unrendered. Changing any input positional or named param will call `compute`. I made use of this in [`ember-render-helpers`](https://github.com/buschtoens/ember-render-helpers).

[2019-10-11 16:23] alexlafroscia commented on #322
Yeah, I don't see it being too different than the lifecycle with regard to a component.

Maybe this would be worth prototyping as a separate add-on (or permanently being something separate) to work out mechanics before potentially upstreaming to this package.

[2019-10-12 19:37] alexlafroscia commented on #322
I cooked this up as a prototype of what I'm thinking. Doesn't handle any modifiers yet, but the mechanics are right, I think.

https://github.com/alexlafroscia/ember-concurrency-wrap-in-task

[2019-10-13 04:12] maxfierke commented on #322
I like it! Are you thinking something like separate helpers for each of the modifiers? (e.g. `restartable-task`, etc.)

I would agree that this probably makes sense as a separate add-on, for now though.

[2019-10-13 13:19] alexlafroscia commented on #322
Yeah! I'd love for that to be an argument to the helper, but I'm not sure there is really a good way to achieve that. I'll play around with it, though!

Cool; I'll close the issue for now!

[2019-10-13 13:19] #322 closed

[2019-10-13 14:09] alexlafroscia commented on #322
I actually ended up able to support the task modifiers without separate helpers for each of them:

[code]

[2019-10-22 19:33] wagenet opened #326 "Merge in ember-concurrency-decorators"
The docs for ember-concurrency-decorators say they'll likely be merged back in to ember-concurrency itself. Is this still planned? If so, what's blocking it?

[2019-10-23 00:44] buschtoens commented on #326
Hi 👋

I'm the guy that wrote [this statement](https://github.com/machty/ember-concurrency-decorators#do-i-need-this-addon), which I think you're referring to:

The major thing missing IMO is https://github.com/machty/ember-concurrency-decorators/pull/56, which would add proper support for TypeScript / type-safety. It in turn is blocked by https://github.com/machty/ember-concurrency/pull/319, which

[2019-10-23 20:25] wagenet commented on #326
@buschtoens while I agree with the concern about switching APIs up too much, I also think non-e-c-d version is pretty terrible, so IMO it might just be worth picking something.

[2019-10-23 21:00] maxfierke commented on #326
IMO if the current e-c-decorators approach using stage-1 decorators is likely to continue working for future stages of decorators, then it feels pretty well-baked to me: cleaner than current approach, already supports third-party e-c add-ons like `e-c-test-waiters` and `e-c-retryable`, and feels pretty intuitive if you've used e-c for a bit.

Perhaps the TypeScript question should remain separate,

[2019-10-23 21:03] maxfierke commented on #323
@erichonkanen Hi Eric, could you post a bit more context about where you're using the task? Is it on a "classic" Ember Component?  A Glimmer component? EmberObject/Service? ES native class, etc.? Could you share the code that's inside the task?

[2019-10-24 09:29] curtu commented on #246
i have make the polling to start from route on setupcontroller hook and the first one request in model

[code]

In one component i start the polling directly on init hook, and i have two different tasks:

[code]

[2019-10-25 13:40] bobisjan opened #327 "Using task helper disconnects original task"
Hi,

when having `task` defined like this

[code]

with button

[code]

then it logs `this.hi.isRunning true`,

<hr>

but with button using `(task` helper

[code]

then it logs `this.hi.isRunning false`.

I'm not sure if this is a bug or expected behaviour, but currently this disallows using `task.isRunning` property with `(task` helper?

[code]

Thanks

[2019-11-01 15:19] jenweber commented on #271
Could we start by adding an example to the Task Function Syntax page? Or do we also need to cover the caveats/edge cases for it to be merged?

Example gist: https://gist.github.com/jenweber/443dac9876c7ef2b1115093cfd5d6fac

[2019-11-01 16:02] buschtoens commented on #271
I'd support adding the `@task(function*() {})` syntax to the official docs, as @jenweber suggested.

We can also mention `ember-concurrency-decorators` as an alternative. Related: #326

[2019-11-04 17:43] erichonkanen commented on #323
hey @maxfierke, just went through the steps of upgrading again and ended up in the same place
- ember 3.10.2
- EC 1.0.0
- ECD 1.0.0

app/services/storage.js
[code]
The service is initialized through the application route:
[code]

[2019-11-04 18:52] erichonkanen commented on #323
so, turns out after I ran `npm list ember-concurrency`, I noticed that `ember-power-select` was using an older version, which for some reason was being used and causing the error! oy!
[code]

[2019-11-04 18:52] #323 closed

[2019-11-04 20:27] buschtoens commented on #323
[`ember-cli-dependency-lint`](https://github.com/salsify/ember-cli-dependency-lint) can guard against this.

[2019-11-05 03:14] erichonkanen commented on #323
@buschtoens thank you, hadn't used that before but seems very helpful!

[2019-11-13 23:36] SYU15 opened #328 "Link to es6 transpilation article returns 404"
https://github.com/machty/ember-concurrency/blob/af891b292428ad4a789c1e172a1293119d42f4d9/tests/dummy/app/docs/testing-debugging/template.hbs#L114

Is the content in that article still relevant? I was trying to search for a live link but couldn't find one. If it doesn't exist anymore, is there an equivalent article that can be referenced instead?

[2019-11-19 14:58] Turbo87 opened #329 "`rawTimeout()` does not work with `race()`"
[code]

I've tried the above code, but it seems like the `race()` function is not considering the return value of `rawTimeout()` as something that can be waited upon. Using `timeout()` works fine though, so now I'm wondering if we should adjust the implementation of `rawTimeout()` to roughly match the one from `timeout()` 🤔

/cc @maxfierke @machty

[2019-11-19 15:31] maxfierke commented on #329
@Turbo87 good catch, I think you're right:

https://github.com/machty/ember-concurrency/blob/3d96d8490c13220b23f105e3d535ccbd55d7534c/addon/-cancelable-promise-helpers.js#L123-L126

The cancelable promise helpers only seem to take into account those too. I think there's a built-in assumption that the cancelable promise helpers would be passed promise-ified task instances (which always have an `__e

[2019-11-19 16:05] Turbo87 opened #330 "Adjust return value of `timeout()`"
I'm trying to use `timeout()` to implement an actual timeout using `race()`, but I would like to adjust the value that is returned from `timeout()`, so that I can distinguish between that case, and the other promise returning `undefined`.

`timeout(42).then(() => 'foo')` sort of works, but since the returned promise no longer has the `__ec_cancel__()` method it is not cancelable anymore.

I would

[2019-11-20 05:12] maxfierke commented on #330
once #331 is merged, a `then()`'d `timeout` will be cancelable.

This is an interesting idea, though. I could see this also being useful for when you want to simulate some sort of delay before returning a value (e.g. simulated network calls) or a default value if a something else times out (in the context of use with `race()`, for example)

[code]

[2019-11-21 03:41] maxfierke commented on #328
@SYU15 Sorry about the delay! Thanks for the heads up about the dead link. We'll go ahead and remove that link though, as it's likely not relevant for most folks these days, given the broad support in browsers for generator functions. I assume the content probably had to do with excluding the `regenerator-runtime` for generator function support in older browsers, to make the compiled source easier

[2019-11-21 03:44] maxfierke commented on #285
Going to close this out.

To summarize the thread: please ensure nothing is depending upon an older version of ember-concurrency

[2019-11-21 03:44] #285 closed

[2019-11-22 01:10] SYU15 commented on #328
Yeah I wasn't sure if the article was even still helpful at this point given the topic/age of the post but dead links are a pet peeve of mine :) Thanks for looking into this @maxfierke!

[2019-11-22 01:30] #308 closed

[2019-11-22 01:56] maxfierke commented on #329
Closed by #331

[2019-11-22 01:56] #329 closed

[2019-11-22 03:07] maxfierke commented on #307
@knownasilya could you expand more on what you mean by subtle bugs, or perhaps provide a reproducible test case to illustrate the behavior?

I tried removing the `bind` and it had the same characteristics either way, where: `pipe` executes the `perform`, receives a `TaskInstance` which it then treats as a Promise, and executes the next action afterwards as I'd expect.

[2019-11-22 03:08] #328 closed

[2019-11-22 03:16] maxfierke commented on #327
Based on the implementation, I believe this is intentional, as it does clone the original task. However, you should be able to use the `let` helper to access the `isRunning` for a curried task within the template:

e.g.

[code]

[2019-11-22 15:32] knownasilya commented on #307
Maybe that was a red herring all along. This is the issue it seems:

[code]

Where the `close` removes that component from the DOM. Which returns `Error: TaskInstance 'addWork' was canceled because the object it lives on was destroyed or unrendered. For more information, see: http://ember-concurrency.com/docs/task-cancelation-help`

[2019-11-25 04:40] maxfierke commented on #271
Closing this out, since documentation has been added on using with native classes on Ember 3.10+. More specific issues w/ native classes, decorators, etc. can be addressed in separate issues as needed in the future.

[2019-11-25 04:40] #271 closed

[2019-11-26 04:45] edeis53 opened #335 "`task.cancelAll()` cancels all tasks on group (bug?)"
Running `task.cancelAll()` on a task that is part of a group cancels all the tasks in the group.

Shouldn't `fooTask.cancelAll()` just cancel all the Foo tasks? and `group.cancelAll()` cancel all the tasks in a group?

In the below example, `primaryQueueTask` and `backgroundQueueTask` are members of `queueGroup` to limit maxConcurrency between them. `backgroundQueueTask` is an idle queue that runs

[2019-11-26 10:22] Turbo87 opened #336 "outer task state incorrect when passed-in task is performed in component"
We hit what seems to be bug and created a minimal reproduction: https://github.com/Turbo87/__e-c-strangeness/

Our situation is that we have a task on a controller, that is being passed into a component. We then call `.perform()` inside the constructor of the component and we expected the `.isRunning` state to reflect that new state. Inside the component `isRunning` is changed to `true`, but the s

[2019-11-26 10:26] Turbo87 commented on #214
I suppose since v1.0.0 has been released a while ago we can close this issue?

[2019-11-26 15:00] maxfierke commented on #214
Good point. I've thought about this thread as less about a specific release and more of a wishlist for  solutions to specific painpoints. But perhaps those should be separate issues anyway.

[2019-11-26 15:00] #214 closed

[2019-11-27 04:53] maxfierke commented on #336
I played around with this a bit, and it seems like it updates the controller after the task finishes, as expected, but you're right, it doesn't update the controller log directly on the start. It seems to be a problem for the initial run only, too. I expanded the example a little be able to re-run the task, and if you perform the task again, it updates in both places as expected.

I also found tha

[2019-11-30 10:39] Turbo87 commented on #336
I've just tried the same thing with a Glimmer component (see https://github.com/Turbo87/__e-c-strangeness/commits/glimmer) and it's showing the same issue

/cc @pzuraq

[2019-11-30 10:44] Turbo87 commented on #336
I've also tested this on different Ember versions (see https://github.com/Turbo87/__e-c-strangeness/commits/embers) and can confirm what @pzuraq said on Discord, that on 3.12 this would have hit the backtracking rerender assertion, but it seems that on 3.13 that assertion got broken and never warned us about this problematic behavior.

[2019-12-10 09:26] Turbo87 opened #337 "Issue with `performCount` on Ember v3.15"
We tried to update our app to Ember 3.15 this morning and the test suite of one of our apps uncovered the following issue:

I haven't been able to come up with a reproduction yet, but I'll update this issue if I can provide one.

[2019-12-13 02:15] maxfierke commented on #337
Seems to be triggered by this: https://github.com/machty/ember-concurrency/blob/a863f4172fca5a63104054ff7a7aa41796a41380/addon/-scheduler.js#L54

Mind giving this branch a try: https://github.com/machty/ember-concurrency/pull/338 ?

[2019-12-22 18:38] #336 closed

[2020-01-07 16:09] robclancy commented on #337
I been seeing this issue too.

[2020-01-07 16:17] robclancy commented on #337
That branch fixes it, I have to use it now or can't release.

[2020-01-07 17:03] maxfierke commented on #337
I'm having issues with the test for the fix for it on earlier Ember versions in the CI matrix, but I'll try to fix that up tonight and tag a release. I do not recommend using a branch in production.

[2020-01-07 17:29] Turbo87 commented on #337
@maxfierke it might be possible to remove the test file from the broccoli tree depending on the ember version, but I have to admit that I'm not sure how exactly to do that either 😅

[2020-01-07 18:27] robclancy commented on #337
I mean.. I can't not use the branch it literally breaks everything.

[2020-01-07 19:00] Turbo87 commented on #337
that double negation is hard to parse 😅

[2020-01-09 03:27] #337 closed

[2020-01-09 11:30] mydea opened #340 "Issue with `isFinished` after updating to 3.15"
Possibly related to #337, I get

[code]

After trying to update to 3.15 & latest ember-concurrency.

The code triggering this is a bit special, but it worked fine before:

[code]

Usage:

[code]

[2020-01-09 16:18] maxfierke commented on #340
Yep, thanks for the report. Definitely similar to #337. Looks like we'll need to more aggressively remove uses of `get` from `@ember/object` internally.

[2020-01-27 18:06] allthesignals commented on #337
I'm seeing something similar:
![image](https://user-images.githubusercontent.com/5004319/73200903-bf660e80-4105-11ea-875b-279ddd76f89b.png)

It's on "numQueued".

Versions:
[code]
code:
[code]

[2020-01-27 18:15] maxfierke commented on #337
@allthesignals can you confirm there are no addons depending on earlier versions of ember-concurrency that might be getting used instead?

[2020-01-27 18:26] allthesignals commented on #337
@maxfierke that was totally it! time to add https://github.com/salsify/ember-cli-dependency-lint to this project...

appreciate it :)

[2020-02-01 01:25] adc-mhaugen opened #342 "yield never returns or errors"
Just updated to Ember 3.15.1, and I have some ember-concurrency code that is not working as before:

[code]

It works for most requests, but in one case it fails.  I can see that `p` is a promise, and I know that the `requestTo` method returned the correct payload, but when we `yield` for it we never get to the next line (`handleResponse`).  We also don't get to the catch, and no errors are thrown

[2020-02-01 01:35] adc-mhaugen commented on #342
Sorry, this is not an issue with `ember-concurrency`, it's an issue with my bad code.  Sorry to bother you.

[2020-02-01 01:35] #342 closed

[2020-02-04 22:01] jgwhite opened #343 "Auto-tracked getter fails to recompute when yielding"
I’ve been struggling to figure out how to word this issue, so here’s a repro that I think demonstrates the problem:

http://jgwhite.co.uk/ember-concurrency-auto-tracking-repro/

Click the two “Run” buttons and you’ll see that when the task yields, auto-tracking seems to somehow break down.

[2020-02-05 16:56] maxfierke commented on #343
I'll try to look at this more this week/weekend, but I'm not really sure how the auto-tracking stuff should work in this scenario. `last` is a computed alias for `lastStarted` on the scheduler, so it's possible it's just tracking assignments to `last`, but not updates to the `value` property within that, so it's reading the initial `null` for value because the task hasn't finished completing in th

[2020-02-05 21:23] jgwhite commented on #343
Thanks for looking into it. My understanding is not great either but I *think* the code should just work as written in the yield case. Not sure why the auto-tracking context is failing to capture that but if state.

[2020-02-06 12:10] jgwhite commented on #343
With `2.0.0-alpha.0` neither example works I’m afraid.

[2020-02-11 03:42] maxfierke commented on #343
As a workaround, adding `@computed('task.value.last')` to the getter works, like so:

[code]

This _may_ actually be the way to do this for now, as I think we'll run into the same problems as the auto-tracking-related bugs (#337, #340) if we just make those properties tracked on 3.15. However, we might be able to make `tracked` work with v2.

[2020-02-11 06:57] jgwhite commented on #343
Yeah, the more I look at this the more I think we’ll have to mark every property in e-c that’s ever `set` as tracked. For a second I thought I had a good grasp on why it was happening but very quickly it slipped through my fingers.

This is reasonable, but the docs need to explain approximately why and when it’s necessary.

Anecdotally, folks on my team have taken to simply using `@computed` defen

[2020-02-11 14:45] maxfierke commented on #343
Yeah, we should definitely document that. I'm not sure it's going to be possible to support both computed and tracked within v1 since its so dependent on computed properties. But for v2, I did start spiking on using tracked properties, so I'll see what's possible there.

[2020-02-11 16:48] jgwhite commented on #343
CPs and tracked properties are meant to be fully interoperable but I think we’re hitting something of an edge case here. I still feel like I really want to understand *why* the auto-tracking doesn’t work without this or the `@computed` change.

[2020-02-11 18:04] raido opened #345 "Breaks if regenerator-runtime is not required by Babel targets"
Application will crash if `ember-maybe-import-regenerator` has determined based on `config/targets.js` browsers that regenerator runtime is not required but somehow `-cancelable-promise-helpers` still depends on regenerator.

**Workaround for now**

https://www.npmjs.com/package/regenerator-runtime

[code]

<img width="404" alt="Screenshot 2020-02-11 at 20 01 02" src="https://user-images.githubuse

[2020-02-11 18:38] maxfierke commented on #345
I think this is likely an issue with the babel or ember-cli-babel setup in your app (or potentially [ember-maybe-import-regenerator](https://github.com/machty/ember-maybe-import-regenerator)), as we don't use or enforce regenerator runtime directly within ember-concurrency.

For example, you may need to add `exclude: ['@babel/plugin-transform-regenerator'];` to your ember-cli-babel babel config.

[2020-02-11 18:38] #345 closed

[2020-02-11 19:00] raido commented on #345
It seems so actually, I found out which of the browserlist queries caused it. I have explicit query for `not Safari < 10` - and that blows it up.

This query also blows up ember-cli-test-loader and few other things. But yes, ember-concurrency here is not the reason.

[2020-02-26 12:22] vinodhrajamuralidharan opened #347 "ember-concurrency is not working in ember-utility"
I am trying to use ember-concurrency tasks in my custom ember utility file. But it throws an error.

[2020-02-26 14:51] maxfierke commented on #347
@vinodhrajamuralidharan Can you provide the error message and a stacktrace, and a snippet of the code for how you're using ember-concurrency within this utility file?

[2020-02-26 21:59] elwayman02 commented on #164
This appears to be the only place `one` is used:

https://github.com/machty/ember-concurrency/blob/6b216f7e359a286e41e58d04bf1034a3e0f403a0/addon/-wait-for.js#L61

What this will need to do instead is likely execute `one` if it exists, otherwise execute `on` and wrap the callback such that it does a teardown after firing the event it's waiting for.

[2020-02-28 02:02] #164 closed

[2020-02-28 13:39] vinodhrajamuralidharan commented on #347
If I write any task inside, I get build error.  Though I import at the top,  it does not understand the task keyword.

Is there anything I have to do differently?

[2020-02-28 15:12] maxfierke commented on #347
@vinodhrajamuralidharan It would be hard for me to provide any guidance without some additional context (code, stacktrace, etc.)

[2020-02-28 22:05] andrewfan commented on #292
@trek @rwjblue @maxfierke I got the same error and found that it happens because
https://github.com/machty/ember-concurrency/blob/d6b30e8b55c18b1e3da97d880c7ef612a5168aab/addon/-wait-for.js#L96
here we are trying to call missing `addObserver` / `removeObserver` methods
If I add those 2 missing methods everything works fine with @tracked
@trek
[code]
So I believe the same trick can be done in e-c s

[2020-02-29 20:42] vinodhrajamuralidharan commented on #347
I understand. I get this error when I add a concurrency task in the utility file, 'error  Parsing error: Unexpected token :' and the code I added is,

<img width="646" alt="Screenshot 2020-02-29 at 21 39 15" src="https://user-images.githubusercontent.com/8244992/75614756-47dc3280-5b3c-11ea-80cf-8bb8befb4328.png">
Correct me if I am doing anything wrong here in the utility file. I have used in othe

[2020-03-01 02:26] maxfierke commented on #347
@vinodhrajamuralidharan looks like `insights` is a function, not an ember object or class, so you cannot attach properties to it like that, (or ember-concurrency tasks)

You may be going for something like this?

[code]

[2020-03-02 08:13] vinodhrajamuralidharan commented on #347
I just tried in the plain util file. I understand now, ember-concurrency will only work on EmberObject and class. - Thanks

[2020-03-02 22:46] tpetrone opened #349 "Tasks with same name, in different components, get overwritten"
Steps to reproduce
- Create two components each `perform`_ing_ tasks with the same name when clicking a button.
- Render both components in the **same page**

What I am seeing:
- Clicking the button in the first component (appears sooner in the template) triggers the task of the second component
- Clicking the button in the second component also triggers the task declared in its own `js` file (the

[2020-03-02 22:51] #347 closed

[2020-03-03 00:23] tpetrone commented on #349
I take it back. Further investigation elucidated that the problem was, in fact, related to how I was invoking `ember-file-upload` built-in component

Somehow related to:
https://github.com/adopted-ember-addons/ember-file-upload/issues/173

[2020-03-03 00:23] #349 closed

[2020-03-03 16:57] Subaku opened #350 ""Assertion Failed: You attempted to update `lastStarted` ...""
Hi,

I think this belongs here and not elsewhere. I've poked at updating my version of ember from pre 3.15.0 to 3.16.x. Seems 3.15.0 has a breaking bug fix that's affected this addon. I'm essentially getting the above assertion error on page load trying to use tasks to load my data. I've set up a repo of a minimal reproduction [here](https://github.com/Subaku/ember-render-assertion.git).

I simply

[2020-03-03 17:10] Subaku commented on #350
I forgot to mention something important I noticed about this. When you build for production this doesn't seem to happen...

[2020-03-03 19:30] maxfierke commented on #350
@Subaku

I'll try it out later tonight, but my best guess is that this might be due to calling the task within a computed property. I think 3.15 added a number of assertions to prevent mutations inside of things like computed or tracked properties:

https://github.com/Subaku/ember-render-assertion/blob/f05f952173efabe570d729ffae472b8179c6b696/app/controllers/index.js#L13-L18

[2020-03-04 01:18] Subaku commented on #350
Thanks mate, I appreciate you looking at it. Let me know what you find!

[2020-03-04 02:27] maxfierke commented on #350
@Subaku yeah, I think what's happening here is correct. Because both computed properties are getting calculated during initial render, there's a computed property that depends on `task.last` (so it gets read) and `task.last` is getting set (mutated) by the call to `testTask.perform` in `selectedParam`. Mutating other properties or calling tasks within computed properties has always been somewhat u

[2020-03-04 02:27] #350 closed

[2020-03-23 17:32] pzuraq commented on #343
If `task.value.last` is a normal, non-decorated property, then autotracking will not work because it has no way to know that the property should be tracked, or will be updated at a later point. This is a known limitation of the autotracking interop, and the solutions are:

1. Turn the property into a computed property
2. Access the property with `get()` and update it with `set()`
3. Release a new

[2020-03-28 02:15] #292 closed

[2020-04-03 15:34] st-h commented on #343
Just came across this issue after some parts of my app broke after upgrading to ember 3.17.0. The issue I was seeing is:

[code]

The workaround I found was to use a computed property and not access the task directly from a template (exactly as it has been described here). I am just a little surprised that more recent ember versions are mentioned here. `3.16.6` worked fine within my tests. `3.17.0

[2020-04-04 11:08] st-h commented on #343
My issue is very likely related to https://github.com/emberjs/ember.js/issues/18788 which is caused by invoking `attribute={{task}}`. Changing the variable name to something other than `{{task}}` seems to fix the issue as well.

[2020-04-22 03:10] maxfierke commented on #343
@pzuraq does https://github.com/machty/ember-concurrency/pull/354 seem like a possible approach to progressive adoption of `@tracked`? Trying to figure out an approach to opting into `@tracked` tasks for users who can, while continuing to support `@computed` for those who cannot.

[2020-05-28 01:58] gilest commented on #120
I know this issue is super old, but I wanted to suggest an API that I'd find useful.

I agree with @john-kurkowski that there are some async tasks I want to be ignored by ember's test helpers.

In general I love that ember's test helpers wait for `ember-concurrency` tasks to settle. But if you could mark specific tasks as "untracked" that would be very useful to me.

Primary use case is the classi

[2020-05-28 20:07] maxfierke commented on #120
Yeah, in general I think `rawTimeout` is probably the best tool for the particular use-case you raised.

Can you think of other use-cases (i.e. non-timeout) where an escape from the runloop is a common need?

[2020-06-08 23:29] Herriau opened #360 "Document interface of the host object expected by EC"
Unless I missed something, there is no documentation of the interface that is expected from the host object. Here is the best I could find so far:

(http://ember-concurrency.com/docs/examples/route-tasks/1)

Most of the time I use EC tasks within `Ember.Component` or `Ember.Service` sub-classes, but occasionally I find myself wanting to use it in vanilla classes (that do not expose the `Ember.Obje

[2020-06-09 02:51] maxfierke commented on #360
For the most part, ember-concurrency just needs to know about `willDestroy`, which is implemented by all Ember Object-derived objects (and also Component from `@glimmer/component).

For using `waitForEvent`, the object needs to implement `on` and `off`, or `one`, or `addEventListener` and `removeEventListener. This is documented in the [API for `waitForEvent`](http://ember-concurrency.com/api/glob

[2020-06-09 06:26] Herriau commented on #360
Thank you @maxfierke this is very useful!

[2020-06-09 22:29] chancancode commented on #360
We should probably look into transitioning into https://github.com/ember-polyfills/ember-destroyable-polyfill instead of relying on `willDestroy`

[2020-08-11 15:41] omarhamdan opened #366 "No type definitions for `linked` and `unlinked` methods"
Looking [here](https://github.com/machty/ember-concurrency/blob/master/addon/index.d.ts#L42) there doesn't to be type support for linked/unlinked methods.

Below is an example of my use case. `linked` does not exist on the type returned by `taskFor` since it relies on the
[TaskForEncapsulatedTaskDescriptor](https://github.com/chancancode/ember-concurrency-ts/blob/v0.2.0/index.d.ts#L40) which exten

[2020-09-04 15:57] admiralbolt opened #370 "Timeout Timing In Background Chrome Tab Is Inconsistent"
When using timeout or rawTimeout in a background chrome tab the actual timing result seems to vary. Chrome does seem to throttle to a maximum of 1 call / second when in background tabs, but it seems like the actual timeout call itself takes twice as long for values above 1000 as well. Pretty easy test:

[code]

Watching this loop while the chrome tab is focused spits out 1000 milliseconds diff eve

[2020-09-08 04:42] #366 closed

[2020-09-28 23:06] maxfierke commented on #343
This now works as expected in `^2.0.0-beta.1` on Ember 3.16+ as tracked properties are used underneath. Closing out.

[2020-09-28 23:06] #343 closed

[2020-10-08 10:47] yoavfranco opened #378 "You attempted to update `numRunning` on `<Task:[TASK_NAME]>`, but it had already been used previously in the same computation."
Hey there,
I'm getting some strange error when trying to use the `isRunning` property on the Task (not the TaskInstance)

This is the full error:
[code]

My code looks like this:
[code]

I have a parent component that passes the task `renderStructure` to two identical child components.
I want to able to tell once all child component finish processing.

My env:
`ember-cli`: "3.20.0"
`ember-source`:

[2020-10-08 10:51] yoavfranco commented on #378
In the meantime I've done a very poor workaround (that works) by replacing this:
[code]

With this:

[code]

[2020-10-08 13:47] maxfierke commented on #378
@yoavfranco how are you performing the tasks? can you post a snippet for that?

[2020-10-08 14:24] yoavfranco commented on #378
@maxfierke sure thing 👍

This is the child component.js:
[code]
(Please note that I've removed the `next`, and it still reproduces)

This is the component.hbs:
[code]

[2020-10-08 14:38] yoavfranco commented on #378
@maxfierke I see this when I `npm ls ember-concurrency`:

[code]

[2020-10-09 17:30] maxfierke commented on #378
hmmm... nothing stands out as problematic there. If you could put together an Ember Twiddle, a failing test, or a GitHub repo that reproduces it, that would be aces! Otherwise, I can try to put something together in the next week or so to see if I can reproduce it and dig into it.

[2020-10-09 17:47] yoavfranco commented on #378
@maxfierke I'll try to get to it, if possible, in the next couple of days
Thanks 😊

[2020-10-12 21:33] ming-codes commented on #169
Looks like this feature is released 😄

I'll close the ticket.

[2020-10-12 21:33] #169 closed

[2020-11-17 10:58] fredjohnd opened #385 "v0.90 failing due to new release of ember-compatiblity-helpers"
Hi there,

Not sure if this the correct place to mention this  but my build has been working fine and I haven't changed my package.json in months until I started getting this error when building it:

[code]

After looking at the culprit with "npm ls ember-compatibility-helpers"
[code]

While previously I was getting:
[code]

Notice the difference of ember-compatibility-helpers version. Before 1.2.

[2020-11-19 03:24] Techn1x commented on #186
I've been looking for this too. I'd like to delete a bunch of records 1 by one, and show the status of each in the template.

[code]

[code]

[2020-11-19 04:02] maxfierke commented on #385
hi @fredjohnd, I'd recommend opening an issue on the [ember-compatibility-helpers](https://github.com/pzuraq/ember-compatibility-helpers) repo directly, as if this is the case it's either a bug there or break in semver.

I would also recommend the use of a lock file (via yarn or npm) if you're not already using one, to avoid surprises like this.

[2020-12-03 18:02] esbanarango opened #388 "Ember._setComputedDecorator is not a function"
[code]

https://github.com/emberjs/ember.js/pull/18826

<img width="900" alt="JSDoc__Source__index_js_and_package_json_—_workspace__Workspace_" src="https://user-images.githubusercontent.com/1156865/101069285-c81a4300-3567-11eb-9888-75f90f89676a.png">

[2020-12-03 18:08] maxfierke commented on #388
Yep, in this case we use `_setClassicDecorator` instead, which should exist in versions where `_setComputedDecorator` does not. Does `_setClassicDecorator` not exist in 3.23?

[2020-12-03 18:15] esbanarango commented on #388
![palm face](https://media.giphy.com/media/6yRVg0HWzgS88/giphy.gif)

This error is actually coming from ember-animated.

[2020-12-03 18:15] #388 closed

[2020-12-09 15:38] maxfierke commented on #385
looks like there's a corresponding issue open upstream: https://github.com/pzuraq/ember-compatibility-helpers/issues/47

[2020-12-09 15:38] #385 closed

[2020-12-09 15:38] #370 closed

[2020-12-10 10:07] mydea opened #390 "ember-canary: destroyables.isDestroying is not a function"
In my addon tests, I get the error:

[code]

When running my tests with ember-canary.

My dependencies are:

*  "ember-concurrency": "^1.3.0",
*  "ember-concurrency-decorators": "^2.0.2",

[2020-12-10 15:35] maxfierke commented on #390
ember-concurrency is just checking the `isDestroying` property on the component here, so I think this is probably an issue with ember canary that should be filed upstream. Thanks!

[2020-12-10 15:35] #390 closed

[2021-01-06 13:52] VincentMolinie opened #394 "Get rid of ember-maybe-import-regenerator"
Can we get rid of `ember-maybe-import-regenerator` which is using old broccoli plugins 🙏 ?
I don't think this package is still necessary 🤔

[2021-01-06 14:53] maxfierke commented on #394
Hi @VincentMolinie, it's removed in the v2.0.0 pre-releases and will not be present when v2.0.0 is released.

[2021-01-06 14:53] #394 closed

[2021-02-15 21:34] maxfierke commented on #326
Closing, as these decorators now exist in 2.0.0-rc.1+ (including 2.0.0, which has just been released.)

[2021-02-15 21:34] #326 closed

[2021-02-16 08:54] Turbo87 opened #400 "Error handling in all() appears broken in v2"
[code]

results in:

<img width="577" alt="Bildschirmfoto 2021-02-16 um 09 48 31" src="https://user-images.githubusercontent.com/141300/108039700-bb709b80-703c-11eb-8f24-857d253cd10c.png">

In other words, it looks like the `all()` helper does not handle error properly anymore. With v1 this code worked fine, but with v2 the uncaught error handler is invoked.

/cc @maxfierke

[2021-02-16 16:35] maxfierke commented on #400
Oof. Yeah, that looks like a bug to me! Will take a look tonight.

[2021-02-17 03:20] #400 closed

[2021-02-17 03:33] maxfierke commented on #400
Fixed in v2.0.1

[2021-02-17 09:05] Turbo87 commented on #400
appears to work great. thanks a lot! :)

[2021-02-17 11:55] andreyfel opened #403 "Ember-concurrency@2: lastRunning field is not cleared when task instance is finished"
While migrating to e-c@2 our tests caught a bug:
Run a task that eventually fails (a yielded promise got rejected).
After that task.lastRunning is not cleared and still points to the last task instance.

[2021-02-17 14:18] maxfierke commented on #403
@andreyfel Could you post a small reproduction?

[2021-02-17 16:23] andreyfel commented on #403
Sure, while I was testing I noticed it won't clean up lastRunning even in the case without rejection:

[code]

[2021-02-19 03:59] oo6 opened #404 "Module '"ember-concurrency"' has no exported member 'lastValue'"
I'm using typescript in ember.
And when following the 2.0.0 upgrade guide, I replace ember-concurrency-decorators imports with ember-concurrency.
[code]
I got:
[code]

[2021-02-19 18:10] maxfierke commented on #404
Hi @oo6 , thanks for the heads up! We definitely do export it (https://github.com/machty/ember-concurrency/blob/471864952ecba19c1199e8cfbbab4dce71d231b0/addon/index.js#L55) but it seems we're missing it from the TypeScript definitions. Will get those updated, thanks!

[2021-02-20 01:05] bendemboski commented on #263
Hey @maxfierke I think this specific request has been addressed by the `onState()` task modifier (although I haven't been able to find any documentation for it).

Personally, I never want the task state and don't want the extra memory it consumes (which is a lot for me since I process large data blobs and the like in tasks), so would love a way to opt out globally (and then maybe opt back in for s

[2021-02-22 05:20] maxfierke commented on #263
Still thinking through considerations for making `TaskFactory` a public API, but for now, `onState` is here to stay, at least, but you're right, lacks documentation. Will work on that. should theoretically work on a per-task basis too, e.g. `@task({ onState: null })`

[2021-02-22 05:35] maxfierke commented on #378
Heyo, just updating this issue to point out that the state-tracking has been rewritten and is much more robust in ember-concurrency 2.0.0, especially with regards to avoiding re-computation during state updates. Please give that a try and let me know if this is still an issue with ember-concurrency 2.0.0+.

[2021-02-22 05:39] #403 closed

[2021-02-22 06:03] maxfierke commented on #311
This should be fixed in 2.0.0, but feel free to ping for re-open if not.

[2021-02-22 06:03] #311 closed

[2021-02-22 06:04] maxfierke commented on #291
IIRC there were no substantive changes, just new version tagging, but at this point it's probably moot, so closing.

[2021-02-22 06:04] #291 closed

[2021-02-22 06:14] #404 closed

[2021-02-22 14:17] yoavfranco commented on #378
Awesome news!
Thanks for the update. We'll give a try 🙏

[2021-03-03 21:42] alexlafroscia opened #409 "Async Error Handler Running Synchronously"
I'm running into a pretty bizarre error while trying to upgrade our app to `ember-concurrency@2.0.2` (from the latest pre-`2.0.0` release).

It seems that the async error handler defined here is in fact running synchronously, and prempting our own error handling.

We have a `swallow-error` helper that we sometimes use for cases where an Ember Concurrency task would expect an error to be thrown and

[2021-03-03 22:10] alexlafroscia commented on #409
Comparing stack traces between my app (with the problem) and the `ember-concurrency` tests (without the problem) is that in my tests, at the point that the task is performed (while wrapped in my promise-swallowing helper) the run-loop is empty, and thus a new one is created, while in the `ember-concurrency` test the runloop is already populated.

In terms of the actual methods being queued, in thi

[2021-03-03 22:33] maxfierke commented on #409
Mind sharing some code from the task too? Mostly curious about whether the error is happening before or after the first `yield`.

[2021-03-03 22:38] alexlafroscia commented on #409
Before -- this is the task definition

[code]

[2021-03-03 22:41] alexlafroscia commented on #409
Interestingly, I updated `ember-qunit` to the latest version in the `ember-concurrency` repo, and sure enough, the test I wrote in the `ember-concurrency` test suite is now also failing! So in some way, `ember-qunit` influences the state of Backburner at the point that the code is running, which influences whether the "async error handler" is actually run asynchronously or not!

[2021-03-03 22:48] alexlafroscia commented on #409
Maybe, to ensure that the async error handler is _actually_ called asynchronously, we could use `later` from `@ember/runloop` instead, with a timeout of `0` or `1`? I'm not sure if `0` queues for the next "tick" in the same way as `setTimeout`, but I would assume it does.

[2021-03-03 23:26] maxfierke commented on #409
@alexlafroscia can you share the test case here or in a PR?

Using `later` with `1` or `next` _might_ work, but I'll need to do some thinking about what makes sense here. `later` with `1` is already used by `reportUncaughtRejection`, so I wonder if that might effectively make it two "ticks"?

I think we roughly used `run` in 1.x (with `setTimeout` if there was no runloop... :/) so maybe there's so

[2021-03-04 15:09] alexlafroscia commented on #409
@maxfierke very-much-messy PR opened with the test I wrote into the test suite that fails

[2021-03-04 22:37] maxfierke commented on #409
having a bit of difficulty reducing this, but curious what happens if you do `const response = await fn(...args);` instead (then you probably don't need the `.catch` check and call, as it'll all be handled by the normal `try/catch` semantics)

Tried reproducing it outside of a helper, and I can't :/

[2021-03-12 23:21] maxfierke commented on #409
Alrighty, I think I'm starting to get a handle on this. To be clear: the error reporting _is_ happening asynchronously, but there's an ordering issue in which the uncaught error reporting is running before the `catch` chain has been called on the `TaskInstance`, so the internal flag for async error handling hasn't been set to `false` by the time the error reporting code runs. I'm not 100% sure why

[2021-03-15 22:46] maxfierke commented on #409
Alright, root cause here seems to be due to the `run.bind` wrapping of the `perform` helper. Basically, it's wrapping `perform` in a full runloop, which means that a synchronous task throw will be reported within that same invocation, which is before the `(swallow-errors)` helper is able to come in an instrument the task instance. Since it's already run, it's too late. I don't _think_ we need this

[2021-03-16 13:52] alexlafroscia commented on #409
Sounds good! Thanks for getting to the bottom of this!!

[2021-03-17 16:09] #409 closed

[2021-03-17 16:10] alexlafroscia commented on #409
Thanks again @maxfierke for putting so much effort into this admittedly-obscure bug!

[2021-03-18 14:12] davideferre opened #416 "Error "@computed can only be used on accessors or fields..." using task decorator with modifiers"
Writing code like explained in the tutorial ["Version 3: Preventing Concurrency (with Tasks)"](http://ember-concurrency.com/docs/tutorial/refactor) throws an exception:

![image](https://user-images.githubusercontent.com/10563913/111639467-93bb5180-87fb-11eb-891c-c49bab707388.png)

My code is:
[code]
I'm using ember-concurrency 2.0.3.

Writing it in this other way works fine:
[code]

[2021-03-18 14:35] maxfierke commented on #416
It sounds like you're maybe on an Ember version lower than 3.10? You may need to do this instead:

[code]

[2021-03-18 15:31] davideferre commented on #416
No, I'm on ember 3.25...

[2021-03-18 15:34] maxfierke commented on #416
`@task` only uses `computed` for Ember versions below 3.10 or on ember-concurrency 1.x. My next guess is that something else in your app is probably loading an earlier version of ember-concurrency, and not ember-concurrency 2.x. `yarn why ember-concurrency` is a good way to find out what other versions of ember-concurrency might be present, if you're using Yarn.

[2021-03-18 15:40] davideferre commented on #416
I'm using npm but you have found the problem!

There's a way to solve the problem without uninstalling ember-google-maps?

[2021-03-18 15:42] maxfierke commented on #416
With yarn, you can force it with `resolutions`. Not sure if there's an npm equivalent? Otherwise, you may need to contact the upstream author to relax the dependency range or have them push a new version with v2 support.

[2021-03-18 15:48] davideferre commented on #416
Ok, thank you so much!

[2021-03-18 15:48] #416 closed

[2021-03-18 15:57] #307 closed

[2021-03-18 16:00] maxfierke commented on #263
`onState` is now documented as a modifier to the decorator: https://ember-concurrency.com/api/global.html#task.

As an aside, I'm working on an RFC to make `TaskFactory` a public API as well, and will do some thinking about setting defaults.

[2021-03-18 16:00] #263 closed

[2021-03-18 16:07] bendemboski commented on #263
Thanks @maxfierke!

[2021-03-18 16:19] machty commented on #263
Would be interesting to see a perf comparison between a vanilla task and and a null-onState task if anyone feels like making a benchmark :)

[2021-03-18 16:26] bendemboski commented on #263
@machty for me it's about memory consumption -- I have tasks that fetch very large files, load them into JSZip objects, and return them as their result. The application extracts data from them and then discards the JSZip objects, so the fact that the derived state keeps a reference to the result of the last task instance (as well as the arguments I think) pins very large data objects in memory. It

[2021-03-18 17:43] knownasilya commented on #307
@maxfierke how would you handle the close? Could tasks have a `return () => this.close()` that runs outside the task?

[2021-03-18 17:55] maxfierke commented on #307
@knownasilya I personally would take it as a signal to move the task up a level in the component hierarchy, but know this might not always make sense. In that case, I would probably do something like `next(() => this.close());` with `next` from `@ember/runloop`, which I know people often do (or `later(..., 1);`, but that's equivalent). Could also use the `timeout` or `rawTimeout` helpers as promis

[2021-03-24 11:38] ondrejsevcik opened #417 "Feature request - New attribute @runOnce - for tasks that should run only once"
Hi,

in our app, we use following pattern where we load data only once quite a lot.

Here is an example

[code]

and then in our components and routes, we can call `await userSession.loadOnce()` and do not worry to make accidentally multiple requests against our server.

---

It would be nice to have this baked-in into this library so that we can just add this modifier directly on the task itself.

[2021-03-30 15:07] maxfierke commented on #417
One thing I've seen before is adding the check within the task, something like:

[code]

This will basically ensure the same result is carried forward every time the task runs. If you were to run `cancelAll({ resetState: true })` on the task, you would then clear out the `lastSuccessful` state and be able to recompute it, if that's useful too.

I'm working on an RFC for user-definable modifiers, a

[2021-04-09 00:56] esbanarango opened #419 "Add info about `context` for Encapsulated tasks docs."
When you have an Encapsulated task and you're using ember-concurrency < 2.0.0. You can access the "parent" context using `this.owner`. This was removed in the new versions and the docs does not mention anything about `this.context` for the new versions.

https://github.com/machty/ember-concurrency/pull/401

[2021-04-09 01:10] esbanarango opened #420 "Can't access property "lastSuccessful", this[taskName] is undefined"
### 🐞 Describe the Bug
When using the `@lastValue` decorator and passing the *path* of a task. There is an error:

**Note:** This was working before with `ember-concurrency-decorators`.

### 🔬 Minimal Reproduction
[code]

[code]

<img width="788" alt="Screen Shot 2021-04-08 at 8 08 30 PM" src="https://user-images.githubusercontent.com/1156865/114114334-4a17d100-98a6-11eb-8ab6-057313604d72.png">

#

[2021-04-14 22:15] kcarmonamurphy commented on #283
Running on `"ember-cli": "3.24.0"`, `"ember-concurrency": "2.0.3"` and `"babel-eslint": "10.1.0"` I also was not able to get the `@task * myTask(argument) {}` syntax working.

I had to instead  use  `@task(function*(argument) {}) myTask`

[2021-04-14 23:30] NullVoxPopuli commented on #283
@kcarmonamurphy did you get an error? what is a build error a lint error?

[2021-04-15 21:05] kcarmonamurphy commented on #283
@NullVoxPopuli I get the following error:

![Screen Shot 2021-04-15 at 17 03 03](https://user-images.githubusercontent.com/1145018/114937932-72568100-9e0c-11eb-8858-15c2187e5dce.png)

Code:

[code]

[2021-04-15 21:18] maxfierke commented on #283
@kcarmonamurphy It seems likely that ember-concurrency 1.x is being loaded instead of 2.x, by something else, perhaps another addon. If you're using Yarn, you can run `yarn why ember-concurrency` to see if another version is being loaded.

[2021-04-17 15:22] havremunken opened #422 "restartableTask restarted, then second tasks returns early without yielding anything - task apparently runs forever"
Hi there,

Been discussing this on the #e-concurrency Discord channel, thanks to NullVoxPopuli for helping me create a reproduction outside of my machine.

https://gitpod.io#snapshot/12c4d18c-67f6-400e-8b87-1deef339ee0a

The above is a snapshot of an Ember app that reproduces the problem. Everything relevant is in the application controller and application template. This is a simpified version of

[2021-04-17 20:17] havremunken commented on #422
For completeness - since not everyone will want to join gitpod, I have extracted the necessary ingredients - the controller and the template - to reproduce this into gists.

Controller:
https://gist.github.com/havremunken/1825b2cc016246c888f2318b5dd681ba

Template:
https://gist.github.com/havremunken/5345483faf32c1adf0e1935440ce8936

[2021-04-27 19:00] validkeys opened #424 "Computeds on encapsulated task's state not recomputing on change"
I have an encapsulated task called "enqeueTask" (which I know are just plain objects now).

[code]

In the component that creates an instance of this encapsulated task I have a computed that returns the most recent task in the queue with "isRunning=true".

[code]

When that task completes, the computed property is not recomputing (even though the UI updates to show the task is complete). This was

[2021-04-27 20:00] maxfierke commented on #424
@validkeys I think using computed properties might be the issue. Using normal getters seems to work:

[code]

[2021-04-27 20:05] validkeys commented on #424
@maxfierke That certainly fixed it -- and confirmed my stupidity, I appreciate it!

[2021-04-27 20:06] maxfierke commented on #424
To be clear -- this is may still be a bug, but I don't remember if `@computed` is supposed to work with Glimmer components or not

[2021-04-27 20:12] validkeys commented on #424
I think it is a bug with encapsulated tasks. Computeds do work on glimmer components although aren't always necessary. There's definitely still some issues with the non-ember objects with encapsulated tasks (for example, waitForProperty in the below example will throw an error "Cannot redefine property: response"

[code]

[2021-05-31 22:22] maxfierke commented on #419
Neither `this.context` or `this.owner` were considered part of the public API, but in v0/v1 they were both set to the same thing. Most folks used `this.context` in encapsulated tasks, so that's the one that was restored. `this.owner` was confusing because it does not align with what a "owner" typically is in an Ember app and does not exist in v2.

As mentioned in #401, `this.context` is still not

[2021-05-31 22:44] maxfierke commented on #420
Thanks for the heads up about this! I've opened a PR to document this as something that's been removed in ember-concurrency v2, as restoring the behavior would rely on using `Ember.get` or implementing our own support for chained property access here. I think the recommendation would be to refactor this so that it can read a property directly on the component, e.g.:

[code]

Or otherwise, you coul

[2021-05-31 22:44] #420 closed

[2021-06-01 16:47] maxfierke commented on #422
@havremunken this should be fixed now in 2.1.0

[2021-06-01 16:47] #422 closed

[2021-06-01 20:54] adc-mhaugen commented on #424
I may be experiencing the same issue with the `lastValue` decorator.  I've just upgraded to 2.0.3 so I got rid of ember-concurrency-decorators.  I'm using the `lastValue` decorator to cache the last value of a task, and I'm not seeing computed properties recompute when the `lastValue` changes.  I installed ember-concurrency-decorators again and used the `lastValue` decorator from that package and

[2021-06-28 13:51] lougreenwood opened #433 "Feature request: Expose the task modifiers and modifier args on a `Task` object"
I have an `AsyncButton` component which can be used to trigger single or parallel task performs on click.

Currently my API for controlling this requires knowledge of the task implementation to decide whether the button should be allowed to trigger additional tasks on click or disable the button when a single task is running:

[code]

Ideally, I would like to remove the need for this `allowConcurr

[2021-06-28 14:36] maxfierke commented on #433
This dovetails nicely with the next RFC I'm working on, which is a public API for `TaskFactory` and opening up task modifiers for extension. All of this stuff already lives as private properties on tasks already, so I will play around with some notion of task metadata within that. Stay tuned!

[2021-07-01 01:46] DuBistKomisch commented on #292
Note to anyone else who runs into this problem: you really have to use `set` explicitly like the test added in the PR, and listen to the `@tracked` property. I can't find any way to make it work with listening to getters directly, you just need to manually access them in the callback. Adding `@dependentKeyCompat` should work in theory but it's unreliable in my testing.

[2021-07-06 00:51] Techn1x commented on #292
I have had similar troubles, trying to wait for a getter to an ember-data attribute on a model. It could be because the model is currently using the `@classic` decorator. Either way, it shows this `waitForProperty` method doesn't work in all cases.

Thanks, this helped fix my issue. Now accessing the ember-model attribute directly, instead of the getter to it, and this seems to work & update now.

[2021-08-03 12:02] lolmaus opened #435 "The perform helper crashes QUnit tests when the task fails or is cancelled"
The problem is that QUnit chooses to crash tests unconditionally on an unhandled rejected promise.

Say, I've got this basic setup:

[code]

[code]

This is perfectly valid code: it adheres to Ember Concurrency guidelines and it works flawlessly in production.

The problem happens when I try to test the failed state:

[code]

This is also a perfectly valid test, yet QUnit chooses to crash it becau

[2021-08-03 13:57] maxfierke commented on #435
Yeah, I think this is the case in ember-mocha as well. There's some general questions in ember-concurrency around error handling about whether we _should_ throw errors when the error states are used, but this behavior is I guess by-design too. Would recommend using the `setupOnerror` handler from `@ember/test-helpers` to stub out the global error handler in the given test and use it to assert the

[2021-08-03 14:00] lolmaus commented on #435
I had tried it like this:

[code]

I can see only the first `debugger` firing. Then the test fails, and the second `debugger` is never hit.

[2021-08-03 14:05] maxfierke commented on #435
I guess this may depend on how/where you're using it

You could also try something like the `swallow-error` helper in the description of this issue: https://github.com/machty/ember-concurrency/issues/409

[2021-08-03 14:11] lolmaus commented on #435
Well, I have described exactly how I'm using it.

***

Well, the point of this issue is to discus the possiblity of including this functionality into the `perform` helper.

Is there even a case where you do want tests to fail when a `{{perform}}`-activated task is cancelled? The very fact of using a template helper indicates that you're not trying to handle the error/cancellation from where you in

[2021-08-03 14:22] maxfierke commented on #435
The snippet provided lacks context and doesn't make a runnable example I can faithfully reproduce, so it's difficult for me to infer from it why `setupOnerror` might not be catching the error

ah, I missed that ask at the bottom. This is definitely something we could do in the `{{perform}}` and probably should provide. I'll try to get to it this week. Would also accept a PR w/ tests if you have on

[2021-08-03 15:32] lolmaus commented on #435
I've tried replicating it on Twiddle, and `setupOnerror` does work there:

https://ember-twiddle.com/29fdce356f214a97730791b20f28bccd?numColumns=2&openFiles=controllers.application%5C.js%2Ctests.acceptance.my-acceptance-test%5C.js

Not sure why that's not the case for me. Maybe because we're two Ember versions ahead, IDK...

***

It could be op-in:

[code]

***

That would be black magic. Someone

[2021-08-03 15:41] maxfierke commented on #435
yeah, I think opt-in is probably the way to go. will probably do something like `throwOnError=false` with a nice useful error message when an error is thrown (something like "if you're handling errors elsewhere, pass `throwOnError=false` to the `perform` helper")

[2021-08-11 21:39] Herriau commented on #292
Similarly I have found `waitForProperty()` to be unreliable for observing state derived from `@tracked` properties. It seems however that this isn't an issue with EC itself but rather with Ember's `addObserver()`. We are refactoring away from using EC as much as possible as a result, which is quite a shame as we had some good patterns going.

[2021-08-16 21:31] stefanpenner opened #437 "`env.async` uses `run.once` but passes a new function"
Both usages of `this.env.async` appear to rely on `run.once`, but pass dynamically created functions on each occurrence. Which means the de-duplication effort done by `run.once` is wasted:

file: `addon/-private/external/task-instance/executor.js` has:
103: this.env.async(() => this.proceedSync(yieldResumeType, value));
344: this.env.async(() => {

where `async` is implemented via `join(() => once

[2021-08-16 21:47] maxfierke commented on #437
oh snap, good find! We should fix that!

Out of curiosity, is there a measurable performance impact you're seeing from this?

[2021-08-16 22:34] stefanpenner commented on #437
Nah, it's most likely a tiny paper-cut among many :P

[2021-08-19 12:26] lougreenwood commented on #433
@maxfierke do you have a tracking issue for your RFC or anything similar that I can link to? 🙂

[2021-08-24 17:54] maxfierke commented on #433
Not really 😬 just one of my many projects, but will try to get a write-up posted soon-ish

[2021-09-15 03:19] maxfierke opened #440 "Migrate docs site from pods to normal layout w/ colocated components"
The `tests/dummy` app that powers the docs site is still using pods and it would be great to get it onto a more supported Ember layout

Ideally, we could keep some of the nice component organization of pods, using component colocation, but without the downsides of pods (somewhat unsupported, everything being called "component.{js,hbs}")

[2021-09-16 02:50] maxfierke commented on #440
This will actually need to be a v3 thing, since we'll need to drop Ember 3.8 to use colocation

[2021-09-18 22:11] maxfierke commented on #433
@lougreenwood sorry for the long wait, but I have an RFC posted in #441 that will provide some exposure to this data (I think there's still some work to be done on _how_ to access this. Through the task might be fine, but I'm also thinking about a `getTaskMetadata` yieldable or something)

[2021-09-19 01:33] #437 closed

[2021-09-20 21:21] machty commented on #433
This reminds me of something I semi-implemented back in 2016/2017 and might have even shipped undocumented in EC before removing it. I was basically trying to come up with really advanced use cases for Derived State, so that you could use properties of a task to answer the questions:

1. If I .perform() this task, will the new TaskInstance start running immediately? (true for all restartable tasks

[2021-09-20 22:07] maxfierke commented on #433
@machty your comment gets at another RFC I have in the back of my brain, for public `SchedulerPolicy` and `Scheduler` APIs (which already exist, but making it possible to define them in application/addons is the missing piece). Was planning to tackle post-#441

could have those canPerform, canPerformSafe, etc. be a part of the SchedulerPolicy or something, and surface that through some Task metada

[2021-11-30 09:12] johanrd opened #447 "Typescript error: 'onState' does not exist in type 'EncapsulatedTaskDescriptor<any, any[]>'"
Creating a task with modifier `{onState: null}`:
[code]
…generates the following typescript error:

[code]

Expected behavior from JSDoc is that `onState` should be nullable:
https://github.com/machty/ember-concurrency/blob/9eff68cddb50ce10c58bf91f8aad90e0fc2df5d4/addon/-private/task-decorators.js#L180

[2022-01-25 13:00] Techn1x commented on #424
Just ran into this today as we dropped IE11 and upgraded to ember-concurrency 2 (I know, we're a little behind). I was hoping to be able to just get onto e-c 2 to get the benefits and worry about refactoring our large encapsulated tasks later, but we have a lot of computed properties watching the encapsulated tasks' state, so changing all of those into getters (and the implications of that) makes

[2022-01-26 16:25] esbanarango commented on #233
Same issue when doing:

[code]

[2022-02-02 17:25] cah-brian-gantzler opened #451 "Mocking a task for testing"
I have a utility to mock a task for testing I think would be nice for everyone to have.

I would submit it as a test-support helper, but it has a requirement for sinon, not sure if that would be a problem.

It was based on an article, I finished the code. (I can not find the article now, if anyone can please post here, want to give credit where its due)

TODO: The mocked task has no decorators, so

[2022-02-09 03:49] #447 closed

[2022-02-09 04:16] maxfierke commented on #451
@cah-briangantzler is the goal here to get the derived state without having to call the real task or to control execution of the task in a test context? It seems like it's perhaps getting at both, but I want to make sure I understand the use-case

[2022-02-09 13:41] cah-briangantzler commented on #451
Control execution of a task during a test. Should the derived state be actually used in the code, then this mocking for a test would also provide that derived state to allow testing that. The most common state is `isRunning`, this allows you to test that out in your tests.

If your task is backing rest calls and you are using MirageJS, you would not need to mock the task, as you would just let it

[2022-02-16 21:42] kdagnan commented on #327
I see this is still open so I assume this is still an issue, although admittedly I am on an earlier build because I was running into the babel-related issue with the @task decorator not being handled properly.

Still, just wanted to add more to this. **Templates will update correctly when using the {{task}} helper (as demonstrated above) but native getters will not**.

For example:
**Parent.hbs:**

[2022-02-28 11:12] colenso opened #458 "Help in fixing @computed can only be used on accessors or fields error"
I'm currently running on ember 3.28, ember-concurrency 1.1.7 and ember-concurrency-decorators 2.0.3
Now I'm trying to move our app to use ember-concurrency v2.2.1 and removed ember-concurrency-decorators. But I'm getting this error:
index.js:178 Uncaught Error: Assertion Failed: @computed can only be used on accessors or fields, attempted to use it with xyzTask but that was a method. Try convertin

[2022-04-01 10:13] colenso commented on #458
Figured out that this was caused by another dependency that we were using in our project. Closing this.

[2022-04-01 10:13] #458 closed

[2022-04-01 10:18] colenso opened #459 "waitForProperty not resolving for encapsulated taskInstance"
I've created a dummy project to demo this: https://github.com/colenso/concurrency-test
[code]

In the code above ☝️ the encapsulated value is never printed to the console. We do however see the logs to indicate that the encapsulatedTask ran fine.

However for a normal task like:
[code]
The `waitForProperty` resolves just fine and we get to see `normal value: all good` on the console.

[2022-04-01 18:42] npendery opened #460 "Getting `alias` error when upgrading to 4.2"
I get this error:

![Cursor_and_EmberQuickstart](https://user-images.githubusercontent.com/12616684/161323143-69dc781b-b0b8-4ae9-abec-dbe62ced3d4d.png)

[2022-04-01 20:31] maxfierke commented on #460
@npendery This should not be a problem on e-c 2.x, as `@ember/computed` is not used internally anymore. However, from this, it looks like you're using ember-concurrency 1.x. There are no plans to update the 1.x branch further, but upgrading to 2.x should be relatively smooth for most folks.

(There's also an [upgrade guide](https://github.com/machty/ember-concurrency/blob/master/UPGRADING-2.x.md)

[2022-04-01 20:31] #460 closed

[2022-04-01 20:37] npendery commented on #460
Thanks for the response @maxfierke !

I am using the latest version so really confused how this gets into the `vendor.js` file....not sure if there was a common issue here but will keep digging

[2022-04-01 20:39] maxfierke commented on #460
@npendery it's likely there's another add-on depending on an earlier version of `ember-concurrency`. If you use `yarn`, you can find out through the use of `yarn why ember-concurrency` or check out [ember-cli-dependency-lint](https://github.com/salsify/ember-cli-dependency-lint)

[2022-04-01 20:45] npendery commented on #460
Oh jeez, youre totally right. Not sure how I missed that 🤦

Thanks again!

[2022-04-02 12:14] jelhan opened #461 "Propagate resetState to canceled child tasks"
It seems that there isn't an option to reset the state of child tasks when canceling a parent task.

Assuming I have a `parent` and `child` task like this:

[code]

I can reset the state of the parent task when canceling it by passing `{ resetState: true }` option:

[code]

But that option does not seem to propagate to cancellation of the child task.

As a work-a-round I need to cancel the child t

[2022-04-02 16:21] maxfierke commented on #461
This is a great idea! I could see cases where you might not want this behavior, but it makes sense that the default should probably be to reset child task state too.

[2022-04-07 20:30] machty commented on #461
[code]

Let's say `parent` is cancelled while awaiting `child2`; is the idea that `child1` (in additional to `child2`) would have its state reset because it was previously performed by `child1`?

I can imagine some trickiness in the mental model and potentially how we implement this if, say, other tasks might be calling `child1` directly; and we might not be able to say this is a backwards-compati

[2022-04-07 20:36] maxfierke commented on #461
agreed. it's definitely a change that would have to come under a toggle of some sort or next major release. would also add that it might make sense to have it entangled w/ `linked()` vs `unlinked()` on it too (i.e. `unlinked()` shouldn't trigger that behavior), but also there should be an opt-out at the `cancelAll` level too (e.g. `cancelAll({ resetState: true, skipChildren: true })` or something

[2022-04-07 21:29] machty opened #462 "RFC: absorb ember-concurrency-async and standardize around async functions"
This RFC proposes that:

1. [ember-concurrency-async](https://github.com/chancancode/ember-concurrency-async) be merged into ember-concurrency core (similar to how we merged in ember-concurrency-decorators)
2. We introduce a new `@taskFn` decorator that behaves almost exactly the same as the `@task` decorator, but produces directly-callable "async" functions that have safe Task-like semantics
3. W

[2022-04-07 21:53] NullVoxPopuli commented on #462
I love it.
And especially default drop: true :sweat_smile:

[2022-04-08 08:04] gnclmorais commented on #462
I like all of this, if anything I think we could try to brainstorm some alternatives to `safe` — this word means everything and nothing at the same time, so if we could find a somewhat more explicit replacement, even better! I’ll pitch a few: `taskLike`, `fnLike`, `taskAsFn`, `simpleTask`, `plainTask`, `toFn`, `toFunction`, `callableTask`. They might sound unpolished, but I’m just interested in ge

[2022-04-08 15:05] maxfierke commented on #462
Likewise, I think `@safe` is maybe a tricky word to use here. Perhaps something like `@constrained`? Or `@statelessTask`?

Having two very similar concepts, but having them be exclusively usable in two different context means we need to be very careful about making it easy to remember when you can use one and not the other. In that vain, I do still think there's an argument to be made about having

[2022-04-08 16:31] machty commented on #462
@gnclmorais Thanks for the suggestions. I'd want to avoid the names that sound like they're casting _to_ a function from some other object, when the decorator is going to be decorating what is already a function and letting it remain a function (this is actually part of the reason why it's more TS friendly than classic tasks: decorators can't change the type of a field in current TS).

Just for ki

[2022-04-08 16:37] machty commented on #462
@maxfierke instead of `@taskFor` decorator could we overload `@task` decorator to accept a string to point to the task fn? e.g.:

[code]

[2022-04-08 16:39] machty commented on #462
There's some potential perf wins when using only function-only tasks; we can disable some of the internal derived state tracking until/unless it's promoted to a full on task. Then again, is this something we can detect from the get go? If a Task object attaches to a task fn in a late-bound manner, we might have already disabled state-tracking by that point?

[2022-04-08 16:47] maxfierke commented on #462
I think `@taskFn` actually looks pretty good and then `fn` piece might be enough to provide hints as to when/where to use it.

I think its probably worth quantifying the perf questions. For example, if it's just the state tracking that's expensive, but not the `Task` piece, we can already disable state tracking by passing a null `onState` callback (i.e. `@task({ onState: null })`, which we could a

[2022-04-09 12:40] gnclmorais commented on #462
Same, I like this proposal — thank you for coming up with it! 🎊

[2022-05-19 02:00] maxfierke commented on #462
This looks great! Count me as onboard. I cannot think of any big implementation blockers either, so it seems feasible as well.

I suspect we'll need to refactor some internal stuff around where the `WeakMap`s that hold `Task` instances live and how that all works generally, so that `taskFor` can pull from that  (right now, they're stored [in a closure around the property descriptor](https://github

[2022-05-21 00:08] machty commented on #462
Removed the mini-proposal to change behavior to `drop`.

One thing that came up in the Discord was that 1. `@taskFn` should almost certainly produce an async fn that is bound to the parent object, which also means 2. anyone that combines `@taskFn` with `@action` is going to be double-binding the fn; with `@taskFn`, there is no need to use `@action`. Just pointing this out for posterity.

I think t

[2022-05-23 14:32] Turbo87 opened #463 "Error: Accessing __ec_cancel__ is deprecated."
Ember Data lately started throwing errors like this:

[code]

It seems that the combination of using ember-concurrency with recent ember-data releases is the problem.

[2022-05-24 17:47] machty commented on #462
@NullVoxPopuli supplied a code example in the `#e-concurrency` discord channel that knocked some of my thinking loose, and I've added another async-arrow-based variant of `task()` to this RFC. Honestly I like it more and will probably use it more for my app than the async-fn variants, not to mention it's probably less work to implement.

[2022-05-25 21:05] acorncom commented on #462
I like the concepts getting kicked around here. One thing that occurs to me is that in an Embroider world where addons are supposed to compile down to act as importable libraries, will we easily have the ability to do Babel transforms once an app’s code isn’t transformable by the addon pipeline?

I also wonder if we’re going to see a future world where Babel increasingly becomes irrelevant as the

[2022-05-31 20:45] shankarsridhar commented on #40
bump. Curious if there are any updates 😃

[2022-06-02 17:44] machty commented on #462
@acorncom In Embroider world, apps will need to manually register the ember-concurrency async arrow fn transform. There may be ways to used embroider macros or some other APIs to make sure the devex is good in this regard but I'm/we're not too worried about that aspect.

As far as other tooling goes: hard to predict this, but I think the current approach will be a safe bet for the foreseeable futu

[2022-06-02 17:45] machty opened #466 "RFC: re-envision Encapsulated Tasks"
Placeholder RFC; TODO: add more details.

This is a design for a future API for encapsulated tasks that should be TS-friendly and support all of today's use cases for encapsulated tasks:

- We expose TaskInstance as a class that can be subclassed
- The same `task()` factory fn will accept the subclass as an arg
- The host object will be accessible (and well-typed) as `this.context`
  - If you don'

[2022-06-02 18:25] maxfierke commented on #462
thought I just had: how does this impact add-ons which use ember-concurrency? I'm assuming because in v2/Embroider world, they would be "built" that this wouldn't be a concern, but I'm not sure.

[2022-06-03 04:45] hrishikeshs commented on #40
I have completely replaced `ember-concurrency` usage with async/await and am manually managing state with respect to `isPending` , etc.. I realized that I was not using task cancelation much in my code and wanted to reduce the number of dependencies I was importing.

[2022-06-09 07:23] acorncom commented on #462
@maxfierke I was thinking about that case when the discussion first started as well. I think your assumption is accurate (regardless of whether an addon uses the newer async arrow fn transform or not, by the time addon code is compiled/published it will be in an easily consumable format that shouldn't need further transformation).

[2022-06-10 08:02] Techn1x opened #467 "lastSuccessful updates even though it hasn't actually changed yet"
I'm on Ember 3.28 so everything is autotracked. I noticed that when you `perform()` a task, it updates lastSuccessful twice. Or at least something is causing it to update.

[code]

With a getter like this, it seems as though it is being called recalculated immediately when the perform() is called, and then again after that new task is successful. In theory, the lastSuccessful property should only

[2022-06-10 08:05] Techn1x commented on #467
I also tried using the `@lastValue('taskDef')` decorator hoping it did some caching magic, but no luck there.

[2022-07-13 01:10] LucasHillDex commented on #458
@colenso could you elaborate more on what you found, I think I'm having the same issue.

[2022-07-22 17:06] dsafonov-grid opened #470 "waitForProperty() doesn't work when awaiting for task.isIdle"
Team, could you please knock me in a right direction.

I have composed the following example on twiddle: https://ember-twiddle.com/29aa8f11ea2208bd5f4095f7c12bfdcd?openFiles=controllers.application%5C.js%2C

Why doesn't it work the way that is mentioned in docs: http://ember-concurrency.com/docs/events

Thank you

[2022-07-23 23:59] machty commented on #470
I simplified your example to this JSFiddle: https://ember-twiddle.com/cd2a22c33dad1f55a12f1994bac9e4ff?openFiles=templates.components.my-component%5C.hbs%2C

It does appear to be a real bug... i'm guessing something to do with recent versions of ember and how/whether/when watched properties fire observers.

[2022-07-24 18:29] cah-briangantzler commented on #451
I have updated my task mocking and provided it as an additional addon at https://github.com/bgantzler/ember-concurrency-mock

Given that it is only one file, I would think it would be better served as an actual test helper from this repo.

To your earlier question, the goal is to provide task mocking during a test, but since your actual code may be waiting on isRunning, and you might want to test

[2022-07-25 14:25] maxfierke commented on #470
I would be curious what the behavior is in Ember 3.20+ too. IIRC there were some bugs with tracked and computed/observer interop between Ember 3.13 and 3.20, and unfortunately Ember Fiddle is capped at Ember 3.18

[2022-07-25 15:08] dsafonov-grid commented on #470
@maxfierke @machty  I tried ember-quickstart app locally, with
[code]
    Example works perfectly just as should be according to documentation.

    PS I realized that optional-features.json contain  "default-async-observers": true.
    it is true by default in ember-quickstart, and it seems affect the behavior once I turn it to false and rebuild the project then tasks to acting weird again.

[2022-08-24 08:48] urbany opened #471 "2.3.0 arrow syntax not working"
Hi, first of all thank you all for the work on this addon!

Ember: 3.28.9

[code]

[code]

Error
[code]

If I check myTask it says it is this function `taskComputed`:

![Screenshot 2022-08-24 at 09 43 13](https://user-images.githubusercontent.com/50884/186372914-2a99fd13-6da4-4a1b-b858-a10628340a03.png)

Previous `@task *myTask` syntax is still working.

[2022-08-24 08:50] basz opened #472 "TaskFactory fails without concurrency options argument"
This seems to generate an error for me with ember 3.28.9 and ember-concurrency 2.3.0

[code]

After migrating to the 'new' syntax I get these run time errors

[code]

Which are fixed by adding a concurrency options argument.

[code]

[2022-08-24 09:05] basz opened #473 "task does not seem to return a Task object"
using a the perform template helper *or* calling a task with perform result in an error.

*ember 3.28.9 and ember-concurrency 2.3.0*

[code]
[code]
[code]

----

[code]
[code]
[code]

[2022-08-24 09:07] basz commented on #473
see #471

[2022-08-24 10:17] machty commented on #473
@basz can you look through your compiled JS code for `testTask` (you may need to "unminify" in dev tools) and paste what it looks like?

[2022-08-24 10:24] machty commented on #471
@urbany can you find the compiled JS code for `myTask` and paste it here? e.g. find what `myTask = task(this, async () => {` compiles to.

[2022-08-24 11:51] machty commented on #462
#465 implemented proposition 4, which I think is all we need at this point.

[2022-08-24 11:51] #462 closed

[2022-08-24 13:02] urbany commented on #471
After talking to @machty on discord it seems to be a problema with a babel transform not running. We're not sure how to debug, and a small reproduction is needed.

[2022-08-24 13:16] urbany commented on #471
Figured it out. Was using tasks in an in-app addon without declaring ember-concurrency as a dependency of the addon. Added id to my in-app addon package.json and now it is working @machty you can close this if you want.

[2022-08-24 13:17] urbany commented on #473
@basz check here, maybe yours is the same problem: https://github.com/machty/ember-concurrency/issues/471#issuecomment-1225712872

[2022-08-24 18:48] basz commented on #473
yes, that solved the issue! great.

[2022-08-24 18:48] #473 closed

[2022-08-25 10:10] basz commented on #472
after updating to 2.3.2 this issue was resolved too it seems.

[code]

that now works as expected

[2022-08-25 10:10] #472 closed

[2022-08-27 07:01] ijlee2 commented on #440
When it's time for `v3.0` development, I recommend using [`ember-codemod-pod-to-octane`](https://github.com/ijlee2/ember-codemod-pod-to-octane) to un-pod the demo app.

[code]

The codemod takes care of moving files to the correct places.

After running the codemod, the contributor would manually check and fix references to the moved files (e.g. `import` statements), if there are any.

[2022-08-27 14:30] NullVoxPopuli opened #480 "v2 addon conversion?"
Idk how much detail you want in this issue, but when I heard of the babel transform changes in the 2.3.2 version, I was expecting to have to modify my babel config. I later found that this happens automatically for me in the index.js -- which can certainly be a nice ability for people don't want to think about babel.

For some background, here is the process:
 - https://github.com/embroider-build/

[2022-08-28 13:16] machty commented on #466
Playing around with the syntax a bit; the above could also be written as

[code]

or even

[code]

[2022-08-29 00:49] maxfierke commented on #466
I like the second API a lot because it removes the need to do a bunch of the meta-programming-type stuff we do now to mixin bits of the `TaskInstance` API with the user's object prototype. A couple of thoughts:

1. We'll need to be a lot more thoughtful about API surface if we allow direct sub-classing of `TaskInstance`. We may want to refactor some things to discourage reaching into the juicy bit

[2022-08-29 15:25] esbanarango opened #481 "[Bug] 2.3.1 broke `observes` modifier"
### 🐞 Bug description

With the latest version of `ember-concurrency` the _observes_ modifier stopped working.

[code]

[code]
### 😕 Actual Behavior
`loadCarsTask` isn't performing when `carIds` changes.

### 🤔 Expected Behavior
`loadCarsTask` should perform everytime `cardIds` changes.

### 🌍 Environment
- ember-concurrency  `2.3.1`
- ember-source  `4.6.0`
- ember-data `4.2.0`

[2022-08-29 15:38] esbanarango commented on #481
@machty We didn't bump those two together. `observes` functionality was working with:

ember-concurrency `2.2.1`
ember-source `4.6.0`
ember-data `4.2.0`

[2022-08-29 15:51] esbanarango commented on #481
Yeah, no usage of `ember-concurrency-decorators` at all.

[2022-09-01 04:14] robclancy commented on #481
Seems like `on: 'init'` isn't working either (always felt dirty using it anyway, just being lazy). Downgrading to find version where it does work until we update everything to the new syntax.

[2022-09-01 10:07] buschtoens commented on #481
I can confirm the `{ on: 'init' }` bug as well. Fortunately we were only using this in a single service, which we fixed by calling `.perform()` in the `init()` hook.

[2022-09-01 14:41] nwhittaker opened #482 "Migration guide for task groups"
With task groups deprecated in [2.3.0][1], is there a recommended way for migrating code that was previously relying on group functionality?

[1]: https://github.com/machty/ember-concurrency/releases/tag/2.3.0

[2022-09-02 05:08] mayatron opened #483 "The new API doesn't seem to work with ember-cli-code-coverage"
The new api doesn't seem to work with the latest `ember-cli-code-coverage@2.0.0-beta.4` when running with `COVERAGE=true`. See this issue I just filed: https://github.com/kategengler/ember-cli-code-coverage/issues/361

I suspect this is an issue with the code coverage addon and not this one, but I thought it might be useful to mention here in case others are stumbling into this.

Btw, the new api

[2022-09-02 07:35] mydea opened #484 "Minor typo in 2.3.2 release"
Just a small heads up, the codemod usage in the [GH release for 2.3.2](https://github.com/machty/ember-concurrency/releases/tag/2.3.2) is slightly wrong, it says:

* `npx machty-ember-concurrency-codemods async-arrow-task **/.ts **/.js`
* `npx machty-ember-concurrency-codemods rm-ember-concurrency-ts **/.ts **/.js`

But should be `**/*.ts` / `**/*.js` - at least without that, it errors for me :) M

[2022-09-02 09:21] mydea opened #485 "`dropTask` not properly typed"
I am currently trying to migrate decorator-based tasks to the new (really cool!) async-based tasks.

However, in our TS app it seems that while this works and is nicely typed:

[code]

This triggers type errors:

[code]

Are these "shortcut" task definitions not supported anymore? Or is this a bug? :sweat_smile:

[2022-09-02 12:45] machty commented on #481
I think it makes sense to mark this as `wontfix`, not out of laziness, but because Ember is heading in a different direction.

The technical reason these broke is that the new API is assigning a property at object initialization time, whereas the previous approaches manipulate the prototype (a requirement for event-based / observer stuff to work). There are probably ways to fix these APIs, but obs

[2022-09-02 12:46] #485 closed

[2022-09-02 12:52] machty commented on #485
Fixed in 2.3.3, thank you for the report!

[2022-09-02 12:52] esbanarango commented on #481
@machty, Agreed on moving forward with Ember's direction. But this **breaking change** should probably be added in a major release.

[2022-09-02 13:01] machty commented on #481
@esbanarango ohh... I apologize; to clarify, we shouldn't support observes in the new API, but I agree we should fix whatever broke about the old API. I'll take a closer look shortly.

[2022-09-02 14:49] machty commented on #481
Fixed in v2.3.4

[2022-09-02 15:00] machty commented on #482
Agree that we should flesh this out more. @sukima wrote the following code snippet that could be used to replace task groups:

[code]

After some discussion it might make sense to gently reintroduce Task Groups, but my feeling lately is that it is a bit of an "over-solve" that is too specific to Tasks, and it's very easy to abuse them or have them almost-but-not-quite-work, because the general pri

[2022-09-02 15:57] esbanarango commented on #481
@machty this is still failing if we use the new "syntax":

### Fails
[code]

### Works fine
[code]

This maybe fine for now, but worth mentioning.

[2022-09-02 16:22] machty commented on #481
@esbanarango Yes, I think it is probably not a good idea for us to try and fix this for the new API as it would add further complexity to the EC codebase to accommodate a deprecated pattern.

[2022-09-05 01:15] Techn1x commented on #485
I was very confused when the codemod refactored to dropTask etc. and I got errors, so I refactored them all to the general style with `task({ drop: true }, ...` :laughing: well there was a bunch of work I didn't need to do :)

[2022-09-05 01:16] Techn1x commented on #485
(thanks for the fix, of course!)

[2022-09-06 08:13] olyckne commented on #471
I seem to have a similar issue but have no idea how to debug this.
The transpilation doesn't run.

Reproduction: https://ember-twiddle.com/df50d8a9f24a72674ada3f32ab263023

[code]

**1. You must pass the async function expression directly to the task() function (it is not currently supported to pass in a variable containing the async arrow fn, or any other kind of indirection)**

My code: `test =

[2022-09-06 12:36] machty commented on #471
@olyckne I don't know if ember-twiddle is going to support the new transpiled Task syntax or not, but I think maybe your issue is that you're still using `@task` as a decorator, but the decorator isn't necessary anymore.

Instead of

[code]

just do

[code]

[2022-09-06 14:13] olyckne commented on #471
@machty After some investigating, I found the problem. It's something with coverage mentioned in https://github.com/machty/ember-concurrency/issues/483

I always run `npm start` which in my application translates to `cross-env COVERAGE=true ember serve`. Took a while to connect the dots :)

[2022-09-06 17:05] machty commented on #483
@mayatron can you try changing your ember-concurrency in package.json to "https://github.com/machty/ember-concurrency.git#maybe-fix-code-coverage"? Trying to see whether #490 fixes the issue.

[2022-09-06 22:01] mayatron commented on #483
Tested, and works for me!

[2022-09-06 22:50] machty commented on #483
Fixed in 2.3.5

[2022-09-07 09:44] olyckne commented on #483
Hm, still doesn't work here on 2.3.5.
Tried with both `ember-cli-code-coverage@1.0.3` and `2.0.0-beta.4`

Same issue on a new ember app
Made a reproduction repo here: https://github.com/olyckne/ember-concurrency-arrow-fn-code-coverage-issue

[2022-09-07 11:47] machty commented on #483
@olyckne thank you for the repro, I believe I narrowed it down in #492. Can you give that PR a try in your app?

[2022-09-07 12:14] olyckne commented on #483
@machty yes! That works both in my app and the reproduction repo! :tada:

[2022-09-07 12:16] #483 closed

[2022-09-07 12:22] machty commented on #483
Fixed in 2.3.6

[2022-09-07 15:43] nwhittaker commented on #482
Thanks for the snippet and the explanation -- much appreciated. One follow-on concern w/ this example is with passing different sets of arguments to each child task and if it can be done in a way that works well with TypeScript?

[2022-09-07 21:06] sukima commented on #482
I'm sure there is a fancy way to do that. Though at that point you might consider making your own class that manages the complexity of dispatching (performing) tasks. Like @machty mentioned, this is an area where statecharts excel at.

[2022-09-08 06:14] law-rence opened #493 "TaskCancelation: TaskInstance XXX was canceled because undefined"
The method `getUpdateInformation` will be called in `beforeModel` RouteReopen and looks like the following:

`@task({
        maxConcurrency: 1,
        keepLatest: true,
    })
    *getUpdateInformation() {}`

**Error message**
![image](https://user-images.githubusercontent.com/24675717/189046819-b9221c56-010f-4b48-a7ae-4d976bdfd2a5.png)

What is undefined? (:

[2022-09-08 12:33] machty commented on #484
I updated the instructions with syntax that should work across zsh/bash. Either way, depending on whether you're codemodding apps or addons you'll need to decide which inputs/files to run the codemods on, and that'll be an exercise left to the user.

[2022-09-09 06:46] Timbuktu1982 commented on #493
Hi law-rence,
i have the same problem...

[2022-09-14 00:21] abeadam opened #495 "Test helpers for enqueued tasks"
Would be great if we have test helpers to easily see which tasks executed in which order.
I have an enqueueTaskGroup and I would like to be able to test that my tasks executed in the right order, if there was a test helper that can look into the execution history and provide provide it, or some how something that allows pausing and continuing of the queued task execution it would be very helpful.

[2022-09-30 10:35] abel-n commented on #472
As I bumped into this same issue and a regular version update in `package.json` didn't help, I manually removed the entry for `ember-concurrency@1.x, ...` from `yarn.lock`, then ran yarn again and voilà.

Those references were "inherited" from addons like `ember-bootstrap`, `ember-power-select` and `ember-power-calendar` and were resolving to `2.2.1`.

[2022-10-11 12:02] sly7-7 opened #496 "Use "real" symbol instead of string for yieldableSymbols"
Upgrading my app to ember-data 4.7, I see these kind of deprecations

[code]
It seems like this is on purpose on ED side, see https://github.com/emberjs/data/pull/8025/files#diff-6a82e4ae6a1de9585e8aea31c2a19871952d300d350811678ef0718879f8bddbR57

I was wondering if using `Symbol` [here](https://github.com/machty/ember-concurrency/blob/master/addon/-private/external/yieldables.js#L2) instead of st

[2022-11-03 15:20] bartocc commented on #496
chiming in to see if there's any progress on this

[2022-11-08 23:02] sebastianhelbig opened #498 "resetState: true does not reset performCount"
According to the docs it should, but it does not. This also seems untested.

[code]

[2022-11-10 01:40] Techn1x opened #501 "Use same types for return and arg"
I'm trying to build a typed task that returns the same type that it was performed with

For example;
[code]

I've come up with this as the task definition;

[code]

But I can't seem to get the return type from the perform call to be generic, it seems stuck as `unknown`. Is there a way to do what I am trying to acheive?

It's probably got something to do with writing a Task type like this, but I ca

[2022-11-18 18:07] miguelcobain commented on #424
I also got bitten by this bug. Transition from `ember-concurrency-decorators` to just `ember-concurrency` is not seamless!

[2022-11-21 18:52] miguelcobain commented on #424
I added a failing test for the `@lastValue` + computed case here: https://github.com/machty/ember-concurrency/pull/503

This failing test passes if I only export the `computedLastValue` here: https://github.com/machty/ember-concurrency/blob/master/addon/-private/task-decorators.js#L35

While doing this, I found out that using `@dependentKeyCompat` together with `@lastValue` does make this work.
Ex

[2022-11-28 07:24] ombr commented on #501
Hi @Techn1x,

I have the same issue on my side, I could create a sample reproduction:

[code]

Let me know If I can help here.

[2022-11-28 12:39] ombr commented on #501
Hi @Techn1x,

I think this is a limit of typescript... I did a lot of trial and error on the typescript playground, and here is a workaround that could work (forcing the type manually on the task).

[code]